# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/*

.name
.idea
overlays
createdFiles.lst
inputFiles.lst

*.iml
*.swp

deploy/*
data/*
repos/*
dbms/*
derby.log

# Eclipse
.classpath
.project
.settings/
/target/

# VScode
.vscode

.factorypath
