html {
	height: 100%;
}
body,tbody {
	margin: 0;
	padding: 0;
	height: 100%;
}

.sticky-wrapper {
    height: 100% !important;
    margin: 0 auto -50px;
    min-height: 100%;
}

#admin-console {
}

#cstudio-admin-console-container {
	width: 100%;
	height: 100%;
}

#admin-console .categories-panel {
    background: url("/studio/static-assets/themes/cstudioTheme/images/sidebar-shadow.png") repeat-y scroll right center #F0F0F0;
    border-right: 1px solid #A1A1A1;
    margin: 0 0;
    left: 0;
    height: 100%;
    display: block;
    position: fixed;
    width: 200px;
    top: 0;
}


.cstudio-admin-console-item {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    cursor: pointer;
    padding-left: 10px;
    margin: 5px 0 0 0px;
}

.cstudio-admin-console-item-first {
    margin-top: 40px;
}

#cstudio-admin-console-item-selected-arrow {
    -moz-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
    -ms-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
    -webkit-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
    background: none repeat scroll 0 0 #3399CC;
    border-right-width: 0;
    float: right;
    height: 13px;
    left: 7px;
    position: relative;
    width: 13px;
    top: 5px;
}

.cstudio-admin-console-item-selected {
    background: none repeat scroll 0 0 #39C;
    color: white;
    cursor: default;
}

#content-type-canvas {
    margin-right: 32%;
    margin-left: 200px;
    min-width: 400px;
}
#content-type-canvas .content-form-name {
    font-size: 18px;
    font-weight: normal;
    padding: 3px 0 10px 3px;    
}

#content-type-tools {
    background: none repeat scroll 0 0 #F0F0F0;
    border-left: 1px solid #A1A1A1;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 32%;
    padding-top: 32px;
}

.content-type-tools-panel {
    background-color: white;
    border: 1px solid #B3B3B3;
    border-radius: 5px 5px 5px 5px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    overflow: hidden;
    min-width: 290px;
    padding-bottom: 8px;
}
.content-type-tools-panel h4 {
    font-size: 14px;
    font-weight: normal;
    color: #444;
    height: 20px;
    padding: 10px 0 6px 0;
    background-color: #C9C9C9;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#C9C9C9));
    background-image: -moz-linear-gradient(100% 100% 90deg,#C9C9C9, #F0F0F0);
    border-bottom: 1px solid #999;
	text-align: left;
	padding-left: 16px;
	cursor: pointer;
}

.content-type-tools-panel-icon { 
	padding-right: 5px;
	cursor: pointer;
}

#widgets-container, #datasources-container {
    overflow: scroll;    
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 12px;
    padding-top: 12px;
}
#datasources-container {
    height: 75px;
}
#widgets-container {
    height: 125px;
}

.content-type-tools-panel-first {
    height: auto;
}

.content-type-visual-container {
    margin-top: 8px;
    min-height: 200px;
    text-align: left;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
}

.content-type-visual-form-container-selected {
    background: #DDDDDD;
}

.content-type-visual-datasource-container {
    background: none repeat scroll 0 0 #ccbbcc;
    border: 1px solid #993399;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 20px;
    padding-top: 10px;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
}

.content-type-visual-datasource-container-selected {
   background: none repeat scroll 0 0 #cc99cc;
}


.content-type-visual-section-container {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #A1A1A1;
    margin: 2px;
    min-height: 20px;
    padding-top: 10px;
}

.content-type-visual-section-container-selected {
    background: none repeat scroll 0 0 #DDDDDD;
}

.content-type-visual-field-container {
    background: none repeat scroll 0 0 #D5E6F2;
    border: 1px solid #0290D6;
    margin: 10px;
    min-height: 20px;
    text-align: left;
    left: 1px;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
}

.content-type-visual-field-container-selected {
    background: none repeat scroll 0 0 #88CCEE;
}

.content-type-visual-repeat-container {
    background: none repeat scroll 0 0 lightSteelBlue;
    border: 1px solid steelBlue;
    margin: 10px;
    min-height: 30px;
    text-align: left;
    left: 1px;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
}

.content-type-visual-repeat-container-selected {
	background: #7a9cc7;
	border: 1px solid #0000000;
}

.content-field-name{
	color: #0290D6;
	display: inline-block;
	min-width: 125px
}

.content-datasource-name{
	color: #993399;
	display: inline-block;
	min-width: 125px
}

.content-field-variable {
	color: #A1A1A1;
	padding-left: 20px;
}

.content-field-type{
	color: #A1A1A1;
}

.content-datasource-type{
	color: #808080;
}

.content-datasource-variable{
	color: #808080;
	padding-left: 20px;
}

.content-section-name {
	padding-left: 10px;
	color: #A1A1A1;
}

#cstudio-admin-console-command-bar {
    background: url("../images/bg/bar_bg.gif") repeat-x scroll 0 0 #F0F0F0;
    border-top: 1px solid #A1A1A1;
    bottom: 0;
    height: 30px;
    position: fixed;
    width: 100%;
    padding-left: 40%;
}

.property-wrapper {
    background-color: #EAEAEA;
    border-bottom: 1px solid #CCC;
    clear: both;
    position: relative;
    overflow: hidden;
    height: auto;
}
.property-label {
    background-color: #EAEAEA;
    color: #676767;
    padding: 2px 2% 0 0;
    text-align: right;
    width: 40%;
    float: left;
    line-height: 20px;
}
.property-label + input {
    border: 0 none;
    border-left: 1px solid #A0A0A0;
    margin-left: -1px;
    color: #555555;
    padding: 4px 2%;
    float: left;
    width: 54%;
    text-overflow: ellipsis;
    background-color: #FFFFFF;
}
.property-label + input:disabled {
    color: #BBBBBB;
}
.property-label + div {
    float: left;
    width: 58%;
    border-left: 1px solid #A0A0A0;
    margin-left: -1px;
    background-color: #FFFFFF;
    text-align: left;
}
.property-label + div > input[type='checkbox'] {
    margin: 7px 6px;
}
.ie9 .property-label + div > input[type='checkbox'] {
    margin-top: 0;
    margin-left: 3px;
}

.property-label + div > select {
    margin: 3px;
    width: 94%;
}

.checkboxes .property-label {
    border-right: 0 none;
}
.checkboxes .property-label + div {
    padding-bottom: 3px;
}
.checkboxes div label {
    display: block;
    text-align: left;
}
.checkboxes div > label > input {
    margin: 3% 3% 2% 3%;
}

.checkboxes div > span {
    font-style: italic;
    color: #555555;
    padding: 2px 3px;
    display: block;
}

.property-heading {
    color: #444;
    padding: 8px 0 6px 0;
    font-size: 12px;
    border-bottom: 1px solid #999;
}    

.content-type-datasources-container {
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #A1A1A1;
    margin: 2px;
    min-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.property-dialog {    
    display: block;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -25%;
    color: white;
    width: 550px;
    max-height: 945px;
}

#keyValueDialogContainer {
    overflow-y: scroll;
    max-height: 420px;
}

.property-dialog-title {
	font-weight: bold;
	font-size: 15px;
    margin: 10px;
}

.property-dialog-col-title {
    display: inline;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.property-dialog-row {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;
}

.property-dialog-button-container {
	display: block;
	margin-top: 40px;
}

.property-dialog-add-link {
	cursor: pointer;
    display: inline;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.cstudio-seethrough-dialog-button {
background-image: url("/proxy/authoring/themes/cstudioTheme/images/overlay-green-button.png");
    bottom: 0;
    color: white;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 120px;
}

.cstudio-button {
    border: 1px solid #002185;
    border-radius: 3px 3px 3px 3px;
    color: #000000;	
	cursor: pointer;
	font-size: 12px;
    margin: 5px 0 0 5px;
    padding: 1px 4px;
    
}

.deleteControl {
	float: right;
    height: 30px;
    left: 10px;
    position: relative;
    top: -15px;
    width: 30px;
    cursor: pointer;
}

.property-wrapper .date-options li { position: relative; margin: 0 10px 4px 5px; }
.property-wrapper .date-options li input { position: absolute; top: 0; left: 2px; }
.property-wrapper .date-options li label { display: inline-block; margin-left: 20px; }
 
.property-wrapper .options {
    position: absolute;
    right: 0;
    top: 18px;
}

.property-wrapper .options .edit {
	background:url('../../../themes/cstudioTheme/images/edit.png') no-repeat left;
    float: right;
    height: 20px;
    position: relative;
    top: -18px;
    width: 20px;
    cursor: pointer;
}

.property-wrapper .options .pick {
	background:url('../../../themes/cstudioTheme/images/icons/icon_strip_vertical.gif') repeat scroll 0 -618px white;
    float: right;
    height: 20px;
    position: relative;
    top: -18px;
    width: 20px;
    cursor: pointer;
}


.control, .datasource {
    background: url("../../../themes/cstudioTheme/images/database.png") no-repeat scroll 0 0 transparent;
    font-size: 13px;
    padding-left: 25px;
    text-align: left;
    height: 25px;
    cursor: pointer;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
}	

.control {
    background-image: url("../../../themes/cstudioTheme/images/cube.png");
}	

.cstudio-form-repeat-control {
	padding-left: 10px;
}

.datasource-img-desktop-upload {
	background-position: 0px 0;
}	


.hidden {
	display: none;
}

.seethrough {
   padding: 0;
   border: 1px solid rgba(0,0,0,0.5);
   background: rgba(0,0,0,0.6);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3)
}

.rich-text-dialog {
    display: block;
    position: fixed;
    color: white;
    width: 50%;
    top: 20%;
	left: 50%;
	margin-left: -25%;
	min-width: 408px;
}

.range .switch-icon {
	background: url(../images/switch-icon.png) no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 5px;
}

.range input {
	border: 0 none;
	border-left: 1px solid #A0A0A0;
	margin-left: -1px;
	color: #555;
	padding: 4px 6px;
	width: 95%;
	text-overflow: ellipsis;
	background-color: white;
}

.range .value {
	position: relative;
	display: block;
}

.range .value.last {
	border-top: 1px solid #CCCCCC;
}

.range input + span {
	position: absolute;
	top: 4px;
	right: 10px;
	color: #0176B1;
	font-style: italic;
	z-index: 5;
}

.range .hide {
	display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0; }

