#cstudio-form-readonly-banner {
	background-color: #3399CC;
    border-bottom: 1px solid #115F85;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

.cstudio-form-field-calendar {
	z-index: 47;
	width: 205px;
}

div.yui-calcontainer.cstudio-form-field-calendar {
    margin-bottom: 8px;
}

.cstudio-form-control-filename-edit {
    display: inline;
    padding-left: 5px;
}

.cstudio-form-control-node-selector-item-selected {
	background: none repeat scroll 0 0 #D5E6F2 !important;
    border: 1px solid #0290D6  !important;
}

.cstudio-form-control-node-selector-item {
	background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #C1C1C1;
    margin: 3px;
    padding-left: 5px;
    text-align: left;
}

.cstudio-form-control-node-selector-options {
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
}

.cstudio-form-control-node-selector-count {
	padding: 5px;
}

.cstudio-form-control-node-selector-container {
	display: inline-block;
    width: 50%;
}

.cstudio-form-control-asset-picker-body {
    position: relative;
    display: inline-block;
    padding-right: 220px;
    min-height: 65px;
}

.cstudio-form-control-image-picker-options {
    position: absolute;
    top: 0;
    right: 0;
    width: 215px;
}
.cstudio-form-field-image-picker-constraints {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 215px;
}
.cstudio-form-field-image-picker-constraints div {
    font-size: 10px;
    line-height: 12px;
    color: #888;
}
.cstudio-form-field-image-picker-constraints div.title {
    color: #666;
    font-weight: bold;
    margin-bottom: 1px;
}

.cstudio-form-control-node-selector-add-container,
.cstudio-form-control-image-picker-add-container,
.cstudio-form-control-flash-picker-add-container,
.cstudio-form-control-video-picker-add-container {
	background: none repeat scroll 0 0 white;
    border: 1px solid #0176B1;
    color: #0176B1;
    display: inline-block;
    position: absolute;
    width: auto;
    z-index: 5;
}

.cstudio-form-control-node-selector-add-container-item,
.cstudio-form-control-image-picker-add-container-item,
.cstudio-form-control-video-picker-add-container-item,
.cstudio-form-control-flash-picker-add-container-item {
    padding: 5px 5px 0;
}

.cstudio-form-control-node-selector-add-container-item:hover,
.cstudio-form-control-image-picker-add-container-item:hover,
.cstudio-form-control-flash-picker-add-container-item:hover,
.cstudio-form-control-video-picker-add-container-item:hover {
   background: none repeat scroll 0 0 #F0F0F0;
    color: black;
    cursor: pointer;
}

.cstudio-form-control-button {
    margin: 5px 10px 0 5px;
    margin-top: 5px;
}

.cstudio-button {
    border: 1px solid #002185;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 1px 4px;
    vertical-align: top;   
}

.cstudio-button-disabled {
	border: 1px solid #909090;
	color: #909090;
}

.cstudio-button:disabled {
	border: 1px solid #909090;
	color: #909090;
}

.cstudio-form-control-node-selector-items-container{
    background: none repeat scroll 0 0 white;
    border: 1px solid #C5D6E2;
    display: inline-block;
    min-height: 100px;
    min-width: 100px;
    width: 300px;
 }
.cstudio-form-control-page-url-container {
    display: inline-block;
    width: 600px;
}
 
.cstudio-form-control-file-name-container {
    display: inline-block;
    width: 600px;
}

.cstudio-form-control-file-name-container input.cstudio-form-control-file-name{
  width: 301px;
}

.cstudio-form-container {
    margin: 20px auto 0 auto;
    padding-bottom: 90px;
    width: 95%;
}

.cstudio-form-header {
    margin-bottom: 20px;
}
.cstudio-form-title {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 21.6px;
	font-weight: 400;
	color: #444444;
}

.cstudio-form-title-container{
	display: inline;
}

.cstudio-form-description {
	display:block;
    margin-top: 6px;
}

.cstudio-form-expandcollapseall-container {
	display: inline;
}

.cstudio-form-expandcollapseall {
    border-left: 1px solid #A0A0A0;
    color: #0176B1;
    cursor: pointer;
    padding-left: 7px;
    text-decoration: none;
    
	display: inline;
	margin-left: 10px;
}

.cstudio-form-section-header {
	background: url("../images/bg/bar_bg.gif") repeat-x scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #A1A1A1;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    position: relative;
}

.cstudio-form-section-widget {
	background: url("../images/icons/icon_strip.gif") no-repeat scroll -20px 5px transparent;
    display: block;
    float: left;
    height: 30px;
  margin-right: 5px;
    width: 12px;
  position: relative;
  top: -7px;
}

.cstudio-form-section-widget-closed {
	background: url("../images/icons/icon_strip.gif") no-repeat scroll 0px 5px transparent;
}

.cstudio-form-section-indicator {
    background: url("../images/cstudio-accordion-section-alert-inactive.png") no-repeat scroll 0 50% transparent;
    display: block;
    float: right;
    height: 30px;
    width: 20px;
  position: relative;
  top: -7px;
 }
 
.cstudio-form-section-invalid {
	background: url("../images/cstudio-accordion-section-alert-active.png") no-repeat scroll 0 50% transparent;
}
 
.cstudio-form-section-title {
	font-family: Arial,Verdana,sans-serif;
	font-size: 15.6px;
	font-weight: 400;
	font-style:	normal;
	color:	#0176B1;
	word-spacing: 0;
	line-height: 30px;
	text-align:	left;
	float: left;
}

.cstudio-form-section-description {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.cstudio-form-section-validation {
		margin-left: 10px;
}
.cstudio-form-section-body {
	background: #fff;
	padding-bottom: 20px;
}

.cstudio-form-controls-container {
    background: #f8f8f8;
    border-top: 1px solid #e7e7e7;
  height: 50px;
  bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 45;
  padding: 10px 0 0;
}

.cstudio-form-controls-button-container {
    text-align: center;
}

.cstudio-form-controls-button-container input {
  margin-right: 10px;
}

.cstudio-form-field-container {
    position: relative;
    padding-top: 15px;
    clear: both;
}

.cstudio-form-field-title {
    display: block;
    float: left;
    font-weight: bold;
    line-height: 22px;
    margin-right: 21px;
    text-align: right;
    width: 24%;
}

.cstudio-form-field-title.label {
  color: #000;
}

.cstudio-form-field-description {
	color: #999999;
	display: block;
	margin-left: 20px;
}

.cstudio-form-field-help-container {
	vertical-align: top;
    position: relative;
    display: inline-block;
}

.cstudio-form-field-help,
.cstudio-form-control-rte-container .cstudio-form-field-help {
	width: 15px;
	height: 15px;
	margin-left: 5px;
	display: inline-block;
	background: url(../images/help-icons.png) no-repeat;
}

.cstudio-form-field-help.on,
.cstudio-form-control-rte-container .cstudio-form-field-help.on {
	background-position: 0 -20px;
}

/* -- Help Dialog -- */
#help-dialog {
	display: block;
	position: fixed;
	color: black;
	width: 32%;
	top: 20%;
	left: 57%;
	margin-left: -25%;
    background-color: white;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #EEE;
    z-index: 1036;
}

#help-dialog .dialog-title {
	font-weight: bold;
    font-size: 21px;
    padding: 10px;
	text-align: left;
    border-bottom: 1px solid #DDD;
}

#help-dialog .dialog-body {
    padding: 30px 15px;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #DDD;
}

#help-dialog .dialog-button-bar {
	margin: 20px 15px 20px 0px;
	text-align: right;
}

#help-dialog .btn{
    display: inline-block;
}


#help-dialog .dialog-button {
	background-image: url("/proxy/authoring/themes/cstudioTheme/images/overlay-green-button.png");
	color: white;
	cursor: pointer;
	font-family: Arial,Helvetica;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 120px;
	display: inline-block;
}

#help-dialog address,
#help-dialog blockquote,
#help-dialog dd, #help-dialog div,
#help-dialog dl, #help-dialog dt,
#help-dialog h1, #help-dialog h2, #help-dialog h3, #help-dialog h4,
#help-dialog h5, #help-dialog h6,
#help-dialog ol, #help-dialog p, #help-dialog ul,
#help-dialog center, #help-dialog dir,
#help-dialog hr, #help-dialog menu, #help-dialog pre   { display: block; unicode-bidi: embed }

#help-dialog h1              { font-size: 2em; margin: .67em 0 }
#help-dialog h2              { font-size: 1.5em; margin: .75em 0 }
#help-dialog h3              { font-size: 1.17em; margin: .83em 0 }
#help-dialog h4, #help-dialog p,
#help-dialog blockquote, #help-dialog ul,
#help-dialog ol, #help-dialog dl, #help-dialog dir,
#help-dialog menu            { margin: 1.12em 0 }
#help-dialog h5              { font-size: .83em; margin: 1.5em 0 }
#help-dialog h6              { font-size: .75em; margin: 1.67em 0 }
#help-dialog h1, #help-dialog h2, #help-dialog h3, #help-dialog h4,
#help-dialog h5, #help-dialog  h6, #help-dialog b,
#help-dialog strong          { font-weight: bolder }
#help-dialog i, #help-dialog cite, #help-dialog em,
#help-dialog var, #help-dialog address    { font-style: italic }
#help-dialog pre, #help-dialog tt, #help-dialog code,
#help-dialog kbd, #help-dialog samp       { font-family: monospace }
#help-dialog pre             { white-space: pre }
#help-dialog big             { font-size: 1.17em }
#help-dialog small, #help-dialog sub, #help-dialog sup { font-size: .83em }
#help-dialog sub             { vertical-align: sub }
#help-dialog sup             { vertical-align: super }
#help-dialog hr              { border: 1px inset }
#help-dialog #help-dialog ol, #help-dialog ul, #help-dialog dir,
#help-dialog menu, #help-dialog dd        { margin-left: 40px }
#help-dialog ol              { list-style-type: decimal }
#help-dialog ol ul, #help-dialog ul ol,
#help-dialog ul ul, #help-dialog ol ol    { margin-top: 0; margin-bottom: 0 }
#help-dialog u, #help-dialog ins          { text-decoration: underline }
#help-dialog br:before       { content: "\A"; white-space: pre-line }
#help-dialog center          { text-align: center }
#help-dialog :link, #help-dialog :visited { text-decoration: underline }
#help-dialog :focus          { outline: thin dotted invert }

.dialog-dialog-mask{
    background-color: rgb(68, 68, 68) !important;
    opacity: 0.5 !important;
    z-index: 1031 !important;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

/* -- End Help Dialog -- */


.cstudio-form-control-validation {
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 20px;
  height: 30px;
}

.cstudio-form-control-invalid {
	background: url("../images/cstudio-accordion-section-alert-active.png") no-repeat scroll 0 10% transparent;
}

.cstudio-form-control-valid {
	background: url("../images/cstudio-accordion-section-alert-inactive.png") no-repeat scroll 0 10% transparent;
}

.cstudio-form-repeat-title {
}

.cstudio-form-repeat-control {
    border-left: 1px solid #A0A0A0;
    color: #0176B1;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.cstudio-form-repeat-control-disabled {
    color: #a0a0a0;
    cursor: default;
}

.cstudio-form-repeat-container {
    background-color: #DFDFDF;
    border: 1px solid #A0A0A0;
    margin-top: 5px;
    padding: 10px;
}

.cstudio-form-control-input-container {
	display: inline;
}

.cstudio-form-control-input-data {
	display: inline-block;
}

.cstudio-form-control-input-controls {
	text-align: right;
	display: block;
}

.cstudio-form-control-input {
    border: 1px solid #C5D6E2;
    font-weight: normal;
    padding: 2px;
    display: inline; 
}

.cstudio-form-control-input-count {
	display: inline;
	color: #999999;
    padding-left: 5px;
}

.cstudio-form-control-input-url-err {
    color: #DA291C;
    display: none;
    padding-left: 5px;
}

.cstudio-form-control-input-url-err.on {
    display: inline;
}

.cstudio-form-control-rte-container {
	display: block;
    margin: 24px auto 0 auto;
    position: relative;
}
.code-mode .cstudio-form-control-rte-container {
    margin-left: 50px;
}

.cstudio-form-control-rte-container .mceLayout {
    position: relative;
}

.cstudio-form-control-rte-container .mceLayout .cstudio-form-control-rte-count {
    position: absolute;
    top: -20px;
    right: 0;
    color: #999999;
}

.cstudio-form-control-rte-container .mceLayout .code-view {
    display: none;
}

.cstudio-form-control-rte-description {
	display: inline;
	color: #999999;
    padding-left: 20px;
}

.cstudio-form-control-rte-help {
	display: inline;
	color: #999999;
    padding-left: 20px;
}

.cstudio-form-control-rte-container table.mceLayout tr.mceFirst td.mceToolbar {
    height: 0;
}
.cstudio-form-control-rte-container td.mceToolbar table.mceToolbar { margin-left: 30px; }

.rte-inactive .mceLayout {
    box-shadow: none;
}
.rte-inactive .mceLayout > tbody > tr.mceFirst > td.mceToolbar > div {
    display: none;
}

.rte-active .mceLayout { box-shadow: 0px 0px 5px 0px #0176B1; }
.ie9 .rte-active .mceLayout { border-collapse: separate; box-shadow: 0px 0px 6px 0px #0176B1; }

.rte-active .mceLayout > tbody > tr.mceFirst > td.mceToolbar > div {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #E1E9F0;
    border: 1px solid #81A1BE;
    border-top: 0 none;
    z-index: 20;
    padding: 4px 0;
}
.cstudio-form-control-rte-container td.mceIframeContainer {
    border-top: 0 none;
}
.cstudio-form-control-rte-container .CodeMirror {
    background-color: #FFFFFF;
    line-height: 14px;
    border-bottom: 1px solid #CCCCCC;
}
.cstudio-form-control-rte-container .CodeMirror-lines,
.cstudio-form-control-rte-container .CodeMirror-gutter-text {
    padding: 10px 0 20px 0;
}
.cstudio-form-control-rte-container .CodeMirror-gutter {
    background-color: #F3F3F3;
}
.cstudio-form-control-rte-container .CodeMirror-gutter-text pre {
    text-align: right;
    padding-right: 5px;
}
.text-mode .CodeMirror {
    display: none;
}
.code-mode td.mceIframeContainer {
    display: none;
}

.rte-image-prop-altlink-container {
    margin-left: 30px;
    margin-top: 0;
    padding: 10px;
    width: 125px;
    float: left;
}

.rte-image-prop-layout-container {
    margin-left: 30px;
    margin-top: 15px;
    padding: 7px 10px 10px;
    width: 125px;
    float: left;
}

.rte-image-prop-altlink-alttext{
    border: 1px solid #CCCCCC;
    width: 125px;
    margin-left: 10px;
    margin-top: 10px;
}

.rte-image-prop-align {
    background: url("../images/editor-sprite.gif") no-repeat scroll 0 50% transparent;
    border: 1px solid;
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    margin-top: 15px;
    position: relative;
    width: 20px;
}

.rte-image-prop-align-none {
	 background: url("../images/editor-sprite.gif") no-repeat scroll 0px -899px transparent;
}

.rte-image-prop-align-center {
	 background: url("../images/editor-sprite.gif") no-repeat scroll 0px -864px transparent;
}

.rte-image-prop-align-left {
	 background: url("../images/editor-sprite.gif") no-repeat scroll 0px -972px transparent;
}

.rte-image-prop-align-right {
	 background: url("../images/editor-sprite.gif") no-repeat scroll 0px -936px transparent;
}

.rte-image-prop-align-selected {
    background-color: #EEEEEE;
}

.rte-image-prop-size-container {
   	float: left;
    padding: 10px;
    width: 184px;
    float: left;
}
.rte-image-prop-size-container tr{
  padding: 5px 0;
}
.rte-image-prop-size-container .img-flow > td:first-child {
    vertical-align: middle;
    line-height: 50px;
}
.rte-image-prop-size-container .img-flow > td > div:first-child { margin-left: 10px; }

.rte-image-prop-size-input {
    border: 1px solid #CCCCCC;
    width: 36px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 6px 3px;
    text-align: center;
}

.rte-image-prop-layout-image {
    border: 1px solid;
    height: 50px;
    width: 50px;
}

.rte-image-prop-layout-input {
    border: 1px solid #CCCCCC;
    width: 36px;
    padding: 6px 3px;
    text-align: center;
}

.rte-image-prop-layout-leftm {
	margin-right: 5px;
    position: relative;
    top: 0;
}

.rte-image-prop-layout-rightm {
	margin-left: 5px;
    position: relative;
    top: 0;
}

.rte-image-prop-layout-topm {
    margin-bottom: 5px;
    margin-left: 8px;
}

.rte-image-prop-layout-bottomm {
   margin-left: 8px;
   margin-top: 6px;
}

.rte-panel {
    color: #CCCCCC;
    height: 207px;
    position: fixed;
    top: 0;
    width: 100%;
}

.seethrough {
   padding: 0;
   border: 1px solid rgba(0,0,0,0.5);
   background: rgba(0,0,0,0.6);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3);
   z-index: 40;
}

.hidden {
	display:none !important;
}

/* Start Asset Picker Styles - image, video and flash */

.cstudio-form-control-asset-picker-preview-block {
	border:1px solid #C5D6E2;
	height:100px;
	width:300px;
	display:inline-block;
	background:#F0F0F0;
	position:relative;
}

.cstudio-form-control-asset-picker-no-preview-content {
	padding-left:5px;
}

.cstudio-form-control-asset-picker-preview-content {
	height: 100px;
	width: 300px;
}

.cstudio-form-control-asset-picker-zoom-button {
    background: url("/studio/static-assets/themes/cstudioTheme/images/magnify.png") no-repeat scroll 0 0;
    width: 21px;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0;
    right: 16px;
}

.cstudio-form-control-asset-picker-zoom-button.video-zoom {
    right: 17px;
}

.cstudio-form-control-asset-picker-download-button {
	position: absolute;
	top: 0;
    right: 0;
}

.cstudio-form-control-asset-picker-zoom-cancel-button {
	margin-top: 2px; 
	margin-left: -57px
}

/* End Asset Picker Styles - image, video and flash */

.cstudio-rteSkin span.mce_insertLayout {
	background: url("../../../themes/cstudioTheme/images/icons/icon_strip_vertical.gif") no-repeat scroll 2px -938px !important;
}

.cstudio-rteSkin span.mce_insertComponent {
	background: url("../../../themes/cstudioTheme/images/icons/icon_strip_vertical.gif") no-repeat scroll 2px -980px !important;
}

.cstudio-rteSkin span.mce_insertStub {
    background: url("../../../themes/cstudioTheme/images/icons/icon_strip_vertical.gif") no-repeat scroll 2px -521px !important;
}

.cstudio-rteSkin span.mce_csLink {
    background-position: -500px 0;
}

.yui-ac-content { 
	background: none repeat scroll 0 0 transparent; 
	border: none; 
	height: 300px;
	overflow-y: scroll;
}

#left-drag-handle {
    width: 15px;
    height: 20px;
    background: url("../images/drag-drop-icon.png") center no-repeat;
    float: left;
    margin: 0 -20px;
}

/* Ajax overlay - Shows a loading image while the form is loading */
#ajax-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08);
    z-index: 40;
    display: none;
}
#ajax-overlay.visible {
    display: block;
}
#ajax-overlay.invisible {
    display: none;
}
#ajax-overlay .ajax-loader {
    background: url(../images/ajax-loader.gif) no-repeat center center;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    position: absolute;
}

/* --- Controls --- */
.cstudio-form-field-container .checkbox-group { display: inline-block; width: 600px; margin: 2px 0 0 20px;}
.checkbox-group > .checkbox { display:inline-block; width: 300px; }
.checkbox-group > .checkbox input { cursor: pointer; vertical-align: text-top; }
.checkbox-group > .checkbox span { display: inline-block; margin-left: 5px; }
.checkbox-group > .checkbox.select-all { display: block; margin-bottom: 5px; width: 100%; }
.checkbox-group > .select-all span { color: #888888; }

.cstudio-form-field-container .date-time-container { display: inline-block; position: relative; }
.date-time-container .date-control { background: #FFFFFF url(../images/icons/icon_calendar.gif) no-repeat right center; width: 103px; border: 1px solid #C5D6E2; color: #000000; padding: 2px 3px; margin-right: 6px; }
.date-time-container > .date-link,
.date-time-container > .clear-link { display: inline-block; margin-left: 6px; text-decoration: underline; }
.date-time-container > .date-link:hover,
.date-time-container > .clear-link:hover { text-decoration: none; }
.date-time-container .time-container { display: inline-block; position: relative; margin-right: 3px; }
.date-time-container .time-control { background-color: #FFFFFF; width: 100px; border: 1px solid #C5D6E2; color: #000000; margin: 0 2px 0 0; padding: 2px 3px; }
.date-time-container .time-increment { background: url(../images/bg/up.gif) no-repeat left top; border: 0 none; cursor: pointer; height: 10.5px; width: 19px; position: absolute; right: 3px; top: 2px; background-size: 18px;}
.date-time-container .time-decrement { background: url(../images/bg/down.gif) no-repeat left top; border: 0 none; cursor: pointer; height: 10.5px; width: 19px; position: absolute; right: 3px; bottom: 1px; background-size: 18px;}
.date-time-container .warning { font-size: 11px; color: #D50; width: 100%; }
.date-time-container.read-only .date-control,
.date-time-container.read-only .time-control { color: #999; }
input[disabled]{background-color: whitesmoke;}

body.yui-skin-cstudioTheme.masked{overflow: hidden;}