/* ----------------- */
/* Status icon rules */
/* ----------------- */
.status-icon {
    /* Every element destined to show
     * icons must carry this class/rule */
    display: inline-block;
    height: 15px;
    padding-left: 24px !important;
    background-image: url("../images/icons/icon_strip_vertical.gif");
    background-repeat: no-repeat;
    background-position: 0 -201px;
    float: none !important;
}

.status-icon-lock {
	/** occurs if content is closed quickly before inprogress state is set */
    display: inline-block;
    height: 15px;
    padding-left: 24px !important;
    background-image: url("../images/icons/icon_strip_vertical.gif");
    background-repeat: no-repeat;
    background-position: 0 -1121px;
    float: none !important;
}

.cstudio-search-result .result-item {
    float: left !important;
}

.status-icon.new:after {
    /*
    content: "*";
    */
}
.status-icon.disabled {
    text-decoration: line-through;
}

.dashlet-cell-wrp .status-icon.disabled.non-previewable-disabled {
    color: #808080;
}

.acn-dropdown-menu .status-icon.disabled,
.dashlet-cell-wrp .status-icon.disabled {
    color: #0176B1;
}
/* folder */
.status-icon.folder {
    background-position: 0 -101px;
}


/* Pages */
.status-icon.in-flight {
    background-position: 0 -1081px !important;
}
.status-icon.in-progress {
    background-position: 0 -221px;
}

.status-icon.in-progress-lock {
    background-position: 0 -1121px;
}

.status-icon.scheduled {
	background-position: 0 -261px;
}

.status-icon.submitted {
    background-position: 0 -241px;
}
.status-icon.deleted {
	background-position: 0 -661px;
}
.status-icon.submitted.scheduled {
	background-position: 0 -281px;
}

.status-icon.deleted.scheduled,
.status-icon.scheduled.submitted-for-deletion,
.status-icon.submitted.scheduled.submitted-for-deletion {
	background-position: 0 -741px;
}
.status-icon.deleted.submitted,
.status-icon.submitted-for-deletion {
    background-position: 0 -661px;
}
/* Documents */
.status-icon.document {
    background-position: 0 -401px;
}
.status-icon.document.in-flight {
    background-position: 0 -1081px !important;
}
.status-icon.document.in-progress {
    background-position: 0 -421px;
}

.status-icon.document.in-progress-lock {
    background-position: 0 -1141px;
}

.status-icon.document.scheduled {
	background-position: 0 -461px;
}
.status-icon.document.submitted {
    background-position: 0 -441px;
}
.status-icon.document.deleted {
    background-position: 0 -701px;
}
.status-icon.document.submitted.scheduled {
    background-position: 0 -481px;
}
.status-icon.document.deleted.scheduled,
.status-icon.document.scheduled.submitted-for-deletion,
.status-icon.document.submitted.scheduled.submitted-for-deletion {
    background-position: 0 -781px;
}
.status-icon.document.deleted.submitted,
.status-icon.document.submitted-for-deletion  {
    background-position: 0 -701px;
}
/* Floatings */
.status-icon.floating {
    background-position: 0 -301px;
}

.status-icon.floating.in-flight {
    background-position: 0 -1081px !important;
}
.status-icon.floating.in-progress {
    background-position: 0 -321px;
}
.status-icon.floating.in-progress-lock {
    background-position: 0 -1161px;
}

.status-icon.floating.scheduled {
	background-position: 0 -361px;
}

.status-icon.floating.submitted {
    background-position: 0 -341px;
}
.status-icon.floating.deleted {
    background-position: 0 -681px;
}
.status-icon.floating.submitted.scheduled {
    background-position: 0 -381px;
}
.status-icon.floating.deleted.scheduled,
.status-icon.floating.scheduled.submitted-for-deletion,
.status-icon.floating.submitted.scheduled.submitted-for-deletion {
    background-position: 0 -761px;
}
.status-icon.floating.deleted.submitted,
.status-icon.floating.submitted-for-deletion {
    background-position: 0 -681px;
}
/* Components */
.status-icon.component {
    background-position: 0 -501px;
}
.status-icon.component.in-flight {
    background-position: 0 -1081px !important;
}
.status-icon.component.in-progress {
    background-position: 0 -521px;
}
.status-icon.component.in-progress-lock {
    background-position: 0 -1102px;
}
.status-icon.component.scheduled {
	background-position: 0 -561px;
}
.status-icon.component.submitted {
    background-position: 0 -541px;
}
.status-icon.component.deleted {
    background-position: 0 -721px;
}
.status-icon.component.submitted.scheduled {
    background-position: 0 -581px;
}
.status-icon.component.deleted.scheduled,
.status-icon.component.scheduled.submitted-for-deletion,
.status-icon.component.submitted.scheduled.submitted-for-deletion {
    background-position: 0 -801px;
}
.status-icon.component.deleted.submitted,
.status-icon.component.submitted-for-deletion {
    background-position: 0 -721px;
}
/* Differences in the different component views (dropdown, search, etc) */
.pages-tree .status-icon {
    padding-left: 18px !important;
}
.acn-tooltip .status-icon {
    padding-left: 16px !important;
}
.cstudio-search-result-body .status-icon.new:after {
    content: "";
}

.status-icon.component.private {
	background-position: 0 -1061px;
}

/*
 * Missing Icons
 * Use multiple background capability to create the missing icons
 */
 .status-icon.submitted-lock {
    background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: -1px -1058px,0 -241px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.floating-lock {
	background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: 5px -1058px,0 -301px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.scheduled.floating-lock {
	background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: -1px -1058px,0 -361px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.submitted.floating-lock {
    background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: -1px -1058px,0 -341px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.submitted.scheduled.floating-lock {
	background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: -1px -1058px,0 -381px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.scheduled-lock {
	background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: -1px -1058px,0 -261px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.submitted.scheduled-lock {
	background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: -1px -1058px,0 -281px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.component-lock {
    background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: 5px -1058px,0 -501px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.scheduled.component-lock {
	background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: -1px -1058px,0 -561px ;
    height: 18px;
    background-repeat: no-repeat;
}
.status-icon.submitted.scheduled.component-lock {
	background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: 9px -1063px,0 -581px ;
    height: 18px;
    background-repeat: no-repeat;
}

.status-icon.in-flight-lock {
	background-image: url("../images/icons/icon_strip_vertical.gif"),url("../images/icons/icon_strip_vertical.gif");
    background-position: 5px -1058px,0 -1081px  !important;
    height: 18px;
    background-repeat: no-repeat;
}
