.search {
	margin: 0 -10px;
}

.search .hidden {
  display: none;
}

.search .yui-dt table
{
	width: 100%;
	border: none;
}

.search .yui-dt table thead
{
	display: none;
}

#template_search_search-results {
  position: relative;
  height:auto !important;
  min-height: 99%;
  height: 99%;
}

.cstudio-wcm-searchfilter-col {
	float: left;
	padding: 0 10px;	
}

.cstudio-wcm-searchfilter-col:first-child {
	padding-left: 0;
}

.cstudio-wcm-searchfilter-chkbox-label {
	padding: 0 20px 0px 5px;
}


.search .resultbar {
	padding: 8px 10px;
	border-bottom: 2px solid #F0F3F4;
	border-top: 2px solid #F0F3F4;
	height: 1.25em;
}

.search .resultbar.gobottom {	
	width: 99%;
	position: absolute;	
	bottom: 2.4em;
}

.search .itemname a {
   font-size: 116%;
}

.search tr.yui-dt-odd, tr.yui-dt-even {
   background-color: #ffffff !important;
}

.search .yui-dt td {
   border-bottom: 1px dashed #D7D7D7;
}

#template_title_search div.float-right {
	margin-top: 4px;
	float: right;
}

#template_title_search div.float-left {
	float: left;
}

#template_title_search .back-icon {
	padding-left: 22px;
	background: url(../../../components/cstudio-search/images/back-arrow.png) no-repeat center left;
}

#cstudio-wcm-search-wrapper{
	padding: 20px 0 0 0;
	background-color: #fff;
	margin: 0;
}

#cstudio-wcm-search-main{
	margin: 0 30px 0 30px; 
}

h1.cstudio-wcm-search{
	font-size: 22px;
}

#cstudio-wcm-search-wrapper .form-group, #cstudio-wcm-search-wrapper .form-control{
    display: inline-block;
}

.cstudio-wcm-search-filter{
	float: left;
	margin-right: 10px;
}
 
.cstudio-wcm-search-select{
	width: 200px;
	margin-bottom: 2px;	
}

select#cstudio-wcm-search-sort-dropdown{
	width: auto;
}

select.fixed-width-search-filter {
	width: 160px;	
}

#cstudio-wcm-search-result-header .filters {
    float: right;
    position: relative;
    top: -4px;
}

#cstudio-wcm-search-result-header .filters > div { 
	display: inline;
	margin-right: 8px; 
}

#cstudio-wcm-search-result-header .filters > div > input,
#cstudio-wcm-search-result-header .filters > div > select { margin-left: 5px; }

input[type="text"].cstudio-wcm-search-result-header-pagination-textbox {
	width: 23px;
	text-align: right;
	margin:0 0 0 3px;
	font-weight: bold;
	text-align: center;
	font-weight: normal;
    padding: 6px 3px;
}

#cstudio-wcm-search-keyword-textbox {
	width: 350px;
    margin-right: 11px;
}

.cstudio-wcm-search-result-header{	
	font-size: 1.35em;
	font-weight: bold;
	margin:0 0 0 10px;
}

#cstudio-wcm-search-result{
	background-color:#FFFFFF;
	min-height: 550px;
	padding: 40px 30px;
}

.download-result-logo{
	width: 23px;
	height: 60px;
	background:#FFFFFF url(../../../components/cstudio-search/images/download-result-logo.png) no-repeat;
	float: left;
}

.cstudio-search-download-selection-div{
	width: 100px;
	height: 75px;
	float:left;
}

.cstudio-search-radio{
	margin: 20px 0 0 45px  ;
}

.cstudio-search-checkbox{
	margin: 20px 0 0 45px  ;
}

.cstudio-search-download-body{
	float: left;
	margin-top:15px;
	width:700px;
}

a.cstudio-search-download-link{
	font-size: 1.38em;		
}

a.cstudio-search-live-link{
	font-size: 1em;		
}

a.cstudio-search-no-preview,
a.cstudio-search-no-preview:hover,
a.cstudio-search-no-preview:visited {
	font-size:1.38em;
	color:#808080 !important;
	cursor:auto !important;
}

.cstudio-search-download-additional,.cstudio-search-download-link-additional{
	color: #999999;
}

div.cstudio-search-description{
	margin: 0 0 0 0px;
}

span.cstudio-search-description.cstudio-wcm-search-invisible{
    display: none;
}

body{
	background-color: #F0F0F0;
}

div.cstudio-wcm-search-pagination .cstudio-wcm-search-pagination-number{
    cursor: pointer;
}

div.cstudio-wcm-search-pagination{
    background-color: #F8F8F8;
    margin: 0;
    padding: 6px 0 10px;
    border-top: 1px solid #e7e7e7;
}

.cstudio-wcm-search-pagination-content {	
	padding: 15px 0 15px 0;	
}

div#cstudio-wcm-search-pagination-controls {
	margin:8px 0 0 0;
	text-align: center;
	width: 100%;
	
}

.cstudio-wcm-search-vertical-spacer {
	clear: both;
	height: 20px;
}

.cstudio-wcm-search-pagination-content a{
	font-size: 1.30em;
}

.cstudio-wcm-search-pagination-controls a.disabled{
	color: #BBBBBB;
	float: left;
}

.cstudio-search-result .cstudio-search-result-cont{
    overflow: hidden;
}

.cstudio-search-result .cstudio-search-result-cont .result-status{
    position: relative;
    top: 5px;
}

.cstudio-search-result-body .cstudio-search-description .cstudio-search-banner-image {
	max-width: 640px;
}

.cstudio-wcm-browse-main .cstudio-search-result .cstudio-search-result-body{
    font-size: 0.95em;
}

.cstudio-wcm-browse-main a.cstudio-search-download-link{
    color: #7e9dbb;
    text-decoration: none;
    font-size: 1.38em;
}

.cstudio-wcm-browse-main #cstudio-wcm-search-search-title{
    margin-bottom: 22px;
}

.cstudio-wcm-browse-main .browse-icon{
    position: relative;
    top: 5px;

}

.skin-browse #studioBar .navbar-brand img{
    width: 75px;
    position: relative;
    bottom: 15px;
}

.skin-browse #xformfooterWrapper {
    height: 58px;
}

.skin-browse #xformfooterWrapper #xformfooterheader{
    background: #f8f8f8;
    height: 58px;
    border-top: 1px solid #e7e7e7;
}

.skin-browse #xformfooterWrapper #xformfooterheader #formSaveButton{
    color: #fff;
}

.skin-browse #xformfooterWrapper #xformfooterheader input{
    margin-top: 12px;
}