.seethrough {
   padding: 0;
   border: 1px solid rgba(0,0,0,0.5);
   background: rgba(0,0,0,0.6);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3)
}

#cstudio-template-editor-container-modal {
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: 1000000;   
	background-color: rgba(200,200,200,0.6); 
}

#cstudio-template-editor-container {
    height: 100%;
    margin: auto;
    min-height: 80%;
    width: 100%;
}

#template-editor-toolbar{
  height: 61px;
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

#template-editor-toolbar-variable{
  padding: 2px 0 0 45px;
}

#template-editor-toolbar-variable #fileName{
    font-weight: bold;
    color: #6d90b2;
    font-size: 16px;
    margin: -8px 0 0;
    padding-bottom: 0;
}

#template-editor-toolbar-variable label{
  margin-right: 15px;
}

#template-editor-toolbar-variable select{
  height: 30px;
}
#template-editor-toolbar-variable #addButtonVar{
    margin-left: 17px;
    margin-top: 2px;
    padding: 4px 8px;
    position: relative;
    bottom: 1px;
}


#editor-container {
	height: 100%;
    padding-bottom: 77px;
}

#editor-container textarea {
	height: 100%;
	resize: none;
	width: 100%;
	font-size: 12px;
    font-family: monospace, sans-serif;
}

#template-editor-button-container {
	position: fixed;
    width: 100%;
    height: 58px;
    background: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    bottom: 0;
    z-index: 17;
}

#template-editor-button-container .edit-buttons-container{
  margin: 12px auto 0 auto;
  width: 150px;
}

.cstudio-template-editor-button {
    cursor: pointer;
    text-align: center;
}

#template-editor-update-button{
     margin-right: 15px;
}

.CodeMirror-scroll.cm-s-default > div { text-align: left; }
.CodeMirror-lines { color: #111; font-size: 13px; line-height: 14px;}  /* default text color */
