<content-type name="/page/search" is-wcm-type="true">
<label>Search</label>
<form>/page/search</form>
<form-path>simple</form-path>
<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
<file-extension>xml</file-extension>
<content-as-folder>true</content-as-folder>
<previewable>true</previewable>
<noThumbnail>true</noThumbnail>
<image-thumbnail></image-thumbnail>
 <paths>
     <includes>
         <pattern>^/site/website/.*</pattern>
     </includes>
  </paths>
</content-type>