
.cstudio-view {

  font-size: 12px;

  .view-square-wrp {
    border: 1px #7f9db9 solid;
    margin-bottom: 15px;
  }

  h1 {
    color: #000;
    padding: 0;
    margin: 0;
  }

  a {

    &, &:hover {
      color: #0176B1;
      text-decoration: none;
    }

  }

  label {
    color: #000;
    width: auto;
    font-weight: normal;
  }

  .view-square-wrp .head {
    background-color: #7f9db9;
    padding: 3px 10px;
    color: #FFFFFF;
  }

  .view-square-wrp .body {
    background-color: #FFF;
    padding: 5px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 198px;
  }

  h1.view-title {
    font: 1.9em Arial, Helvetica, Sans-Serif;
    margin-bottom: 0;
    padding: 0;
    color: #333;
    letter-spacing: 0;
  }

  .view-caption {
    margin-bottom: 15px;
  }

  .view-block {
    margin-bottom: 15px;
  }

  input.date-picker,
  input.time-picker {
    border: 1px solid #7f9db9;
    width: 100px;
    padding: 1px 0;
  }

  input.date-picker {
    background-image: url("/studio/static-assets/themes/cstudioTheme/images/icons/icon_calendar.gif");
    background-position: right center;
    background-repeat: no-repeat;
    width: 75px;
    padding-right: 25px;
  }

  .action-wrapper {
    text-align: center;
  }

  .terms-policy-wrp {
    background-color: #FFFFFF;
    border: 1px solid #7f9db9;
    height: 301px;
    overflow: auto;
    padding: 15px 20px;
  }

  .status-icon {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    text-align: left;
  }

  table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background-color: transparent;
    border: 0;
  }

}

.water-marked {
  color: #777777;
}

.dependencies-listing .item {
  width: 200px;
  margin: 2px 5px 0 0;
  white-space: nowrap;
  overflow: hidden;
}

.dependencies-listing .item input[type=checkbox] {
  float: left;
  margin: 2px 7px 0 0;
}

.dependencies-listing .sub-item {
  padding-left: 15px;
}

.cstudio-dialogue {

  border: none;

  &.yui-dialog {
    padding: 0;
  }

  .bd.cstudio-dialogue-body {
    margin: 0;
    border: none;
    background: #f2f2f2;
    color: #333 !important;
    padding: 15px !important;
    border-radius: $border-radius-base;
  }

  .hd,
  .ft {
    display: none;
  }

  .yui-module.yui-overlay.yui-panel {
//    border: 1px solid $text-muted;
    border: none;
    border-radius: $border-radius-base;
  }

}

.cstudio-dialogue-mask {
  opacity: .7 !important;
  background-color: #000 !important;
}

body.masked {
  overflow: hidden;
}

.context-nav-title-element {
  float: left !important;
  margin: 6px 0 0 10px;
  color: #000;
}
