.studio-preview {

  top: 50px;
  overflow: auto;
  background: #f8f8f8;
  transition: left .5s;

  .site-dropdown-open & {
    left: 265px;
  }

  &, iframe {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  iframe {
    top: 0;
    border: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: width .3s, height .3s, border .3s;
  }

}

.studio-device-preview-portrait,
.studio-device-preview-landscape {

  #engineWindow {
    border-color: #555;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

}

.studio-device-preview-landscape #engineWindow {
    border-width: 10px 50px;
}

.studio-device-preview-portrait #engineWindow {
  border-width: 50px 10px;
}