@import "variables";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/type";

@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.mb10 {
  margin-bottom: 10px;
}

.site-dashboard {
  padding-top: 51px;
  transition: padding .5s, transform .5s;
  .panel {
    .panel-heading {
      @include clearfix;
      .panel-title {
        float: left;
        line-height: 27px;
        &, * {
          font-size: 14px;
        }
      }
      .widget-controls {
        margin: 0;
        float: right;
        @extend .list-inline;
        [maxlength] {
          width: 50px;
          text-align: center;
        }
      }
    }
    [id*="-body"] table {
      margin: 0;
    }
    .dashlet-item-check {
      margin-right: 5px;
    }
  }
}

.site-dashboard .panel .panel-heading .widget-controls > li#loading-MyRecentActivity,
#loading-GoLiveQueue,
#loading-approvedScheduledItems,
#loading-recentlyMadeLive {
  position: absolute;
  left: 47%;
  top: 238px;

  @media (max-width: 768px) {
    top: 294px;
  }

}

.site-dashboard-footer {
  padding: 20px 0;
  transition: padding .5s, transform .5s;
}

.site-dropdown-open .site-dashboard-footer {
  padding-left: 265px;
}

.studio-view,
.studio-dialog,
.site-dashboard {

  // Core CSS
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

  // Components
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

  // Components w/ JavaScript
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

  // Utility classes
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
  @import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

  .row {

    &.unpad {

      margin-left: 0;
      margin-right: 0;

      > [class|="col"] {
        padding: 0;
      }

    }

  }

}

.studio-view,
.studio-dialog {

  &.history-view{
    table.item-listing{
      thead,tbody{
        display: block;
      }
      tbody{
        height: 199px!important;
        overflow-y: scroll;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        border: 1px solid #7e9dbb;
      }
    }
  }

  .view-title {
    margin: 0 0 5px;
  }

  .view-caption {
    margin: 0 0 20px;
  }

  table.item-listing {
    width: 100%;
    border-radius: $border-radius-base;

    tr {

    }

    th, td {
      padding: 5px 10px;
    }

    .original-schedule{
       padding: 5px 10px 5px 6px;
    }

    th {
      color: #fff;
      background-color: $brand-primary;

      &:first-child{
        border-radius: 3px 0 0 0;
      }

      &:last-child{
        border-radius: 0 3px 0 0;
      }
    }

    td {
      background-color: #fff;
    }

  }

}

table.scroll-body {
  width: 100%;
  border-collapse: collapse;

  tr {
    /*&:after {
      *//* IE8 fix *//*
      content: ".";
      margin-left: -3px; *//* to hide the content above tr *//*
      *//* not necessary if you are ok with 1px gap *//*
      visibility: hidden;
    }*/

    .small{width: 10%;}
    .medium{width: 30%;}
    .large{width: 60%;}
  }

  thead {
    width: 100%;
    display: table;
    text-align: left;

    tr {
      width: 100%;
      display: table-row;

      th:first-child{
        border-radius: 3px 0 0 0;
      }

      th:last-child{
        border-radius: 0 3px 0 0;
      }
    }

  }

  tbody {
    width: 100%;
    height: 150px;
    display: block;
    overflow: auto;
    border-radius: 0 0 4px 4px;
    border: 1px solid #7e9dbb;
    background-color: #fff;

    tr {
      width: 100%;
      display: table;
    }

  }

}

.studio-dialog {

  > .yui-panel {
    border: none;
  }
  .hd {
    display: none
  }

  .modal-body {
    background-color: #f2f2f2;
  }

}

.ice-mask {
  z-index: 1034;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.studio-ice-dialog {
  z-index: 1035;
  bottom: auto;
  left: 50%;
  top: 0;
  height: 200px;
  width: 90%;
  position: fixed;
  margin-left: -45%;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  transition: height .5s, transform .5s;
  > .bd {
    iframe {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      position: absolute;
    }
  }
}

#checkAll-MyRecentActivity,
#checkAll-recentlyMadeLive,
#checkAll-approvedScheduledItems,
#checkAll-GoLiveQueue{
  padding-left: 23px;
  position: relative;
  bottom: 3px;
  padding-right: 2px;
  width: 23px;
}

.studio-view input.schedulingMode{
  margin: 0 0 0 -20px;
}
