body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
   	padding-top: 20px;
   	box-sizing: border-box;	

	*{
	    box-sizing: border-box;	 
	}

	.bold {
		font-weight: bold;
	}

	.status-icon {
	    background-image: url("/studio/static-assets/themes/cstudioTheme/images/icons/icon_strip_vertical.gif") !important;
	}

	.status-icon.folder {
    	background-position: 0 -97px;
	}

	.cstudio-search-btn {
		color: #333;
	    border-color: #ccc;
	    display: inline-block;
	    margin-bottom: 0;
	    font-weight: normal;
	    text-align: center;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    background-image: none;
	    border: 1px solid transparent;
	    white-space: nowrap;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.428571429;
	    border-radius: 4px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    text-decoration: none;

        background: #fff;
		box-shadow: none;
		border-color: #ccc;
		font-size: 12px;

		&.btn-primary{
		    color: #fff;
		    background-color: #7e9dbb;
		    border-color: #6d90b2;

		    &:hover {
	    	    background-color: #5d84a9;
    			border-color: #4e7294;
		    }
		}

		&.results-btn {
			background-color: #e2e2e2;
			font-size: 14px;

			&:hover{
				background-color: #ccc;
			}
		}
	}

	.cstudio-browse-container {
		width: 100%;
		max-width: 1370px;
		margin: 0 auto;
		padding: 0px 20px 40px;
		background-color: #fff;

		#cstudio-wcm-search-filter-controls {
			[data-display="hidden-node"] {
				display: none;
			}
		}

		#cstudio-wcm-search-filter-controls {
			overflow-x: scroll;
			overflow-y: scroll;
			width: 400px;
			background-color: white;
			padding: 20px 20px 20px 0;
			border-radius: 5px;
			float: left;
			height: calc(100vh - 95px);

			.jstree-default {
				.jstree-node > .jstree-icon {
				    background: url('/studio/static-assets/themes/cstudioTheme/images/treeview-sprite.gif') no-repeat;
				    background-position: 4px -2400px;
				}

				.jstree-open > .jstree-icon {
					background-position: 4px 0;
				}
			}

		}
		#cstudio-wcm-search-result {
			width: calc(100% - 400px)!important;
			border-radius: 5px; 
			padding-left: 20px;
			padding-top: 20px;
			overflow:hidden;

			.results{									
			    height: calc(100vh - 155px);
			    overflow-y: scroll;
			    // margin-right: -15px;

			    .cstudio-search-result {
				  	border-bottom: 1px solid #848484;
					font-size: 14px;
					line-height: 19px;
					margin-bottom: 20px;
					padding-bottom: 20px;
					padding-left: 10px;
					padding-right: 10px;

					.cstudio-search-select-container {
						float:left;
						width: 25px;
					}

				  	.cstudio-result-body {
				   	 	margin-left: 15px;

				   	 	.cstudio-search-result-description, .cstudio-search-description-preview {
				   	 		width: 100%;
				   	 		@media (min-width: 992px){
							    width: 50%;
							    float: left;
				   	 		}

				   	 		.browse-icon {		
			   	 			    margin-right: 20px;
				   	 		}	

				   	 		.cstudio-search-component-title-nopreview{
								font-size: 1.38em;
								color: #808080 !important;
								cursor: auto !important; 
								display: inline-block;
				   	 		}

				   	 		.cstudio-search-component {
				   	 			&.cstudio-search-component-button {
							  		a{
							  			margin-top: 20px;
							  		}
							  	}
				   	 		}
				   	 	}

				   	 	.cstudio-search-description-preview {
				   	 		overflow:hidden;
				   	 		position: relative;
				   	 		text-align: right;

				   	 		.cstudio-search-banner-image {
				   	 			height: 210px;
				   	 		}
				   	 	}

				  	}

				  	.cstudio-search-component {
						display: block;
						margin-bottom: 5px;

					  	.component-title {
					    	display: inline-block;
						    min-width: 35px;
						    text-align: right;
						    margin-right: 10px;
					  	}

					  	
					}

				  	.no-preview{
					    height: 210px;
					    width: 104%;
					    background-color: #ebebeb;
					    text-align: center;
					    line-height: 210px;
					    color: #5a5a5a;
				  	}
				}
			}
		}
	}

	.cstudio-browse-image-popup-overlay{
		position: fixed;
		display: none;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		margin: auto;
		z-index: 32;
		background: rgba(0, 0, 0, 0.6);
		text-align: center;

		#cstudio-browse-image-pop-up {
			display: inline-block;
			box-sizing: content-box;
    		background-color: #928f8f;
			border-radius: 6px;
			padding: 5px 10px 10px;

			&> div {
				text-align: right;
			    input.close {
			    	float: none;
				    border: none;
				    background: transparent;
				    box-shadow: none;
			        font-size: 20px;
				    padding: 0;
				    line-height: 12px;
					padding-bottom: 7px;
	    			margin-bottom: 5px;
	    			opacity: 1;
	    			margin-right: -5px;
    			    border-radius: 0;
				}
			}

			img {
				border-radius: 6px;
	    		max-width: 700px;
	    		background-color: #fff;
			}
		}

		&:before{
			content: "";
		  	display: inline-block;
		   	vertical-align: middle;
		  	height: 100%;
		}
	}
	

	#cstudio-command-controls {
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    background: #f8f8f8;
	    padding: 15px 0;
	    border-top: 1px solid #e7e7e7;
	}

	/* Scrollbar styling - webkit */

	::-webkit-scrollbar {
	    width: 8px;
	}

	::-webkit-scrollbar-thumb:hover {
	    background: #808080;
	}
	 
	/* Track */
	::-webkit-scrollbar-track {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: rgba(128,128,128,0.7); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(128,128,128,0.4); 
	}

}	