.studio-preview {

  width: 100%;
  height: 100%;

  &,
  #main,
  .preview-container > footer,
  #main > .site-window {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .preview-container > header {

  }

  .preview-container > footer {
    top: auto;
    height: 30px;
    background: #f2f2f2;

    .status {
      line-height: 30px;
      padding: 0 10px;
      color: red;
    }

  }

  #main {

    top: 51px;

    .site-window {

      bottom: 30px;

      > iframe {
        width:100%;
        height:100%;
        border: none;
      }

    }

  }

}