
.sites-view {

}

.screen-title {

  margin: 0;
  color: #555555;
  padding: 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  @include clearfix;

  h1 {
    margin: 0;
    float: left;
  }

}

.nav-panel {
  left: 0;
  bottom: 0;
  top: 65px;
  width: 200px;
  position: absolute;
  background-color: #f8f8f8;
}

.action-area {
  top: 65px;
  bottom: 0;
  right: 0;
  left: 200px;
  position: absolute;
}

.list-group-item {
  border-color: #f8f8f8;;
  border-radius: 0 !important;
  background-color: transparent;
  border-style: none solid none none;
}

.table.site-list {
  thead {
    th {
      padding: 15px 10px;
    }
  }
  tbody {
    td {
      padding: 10px;
    }
  }
}

.site-view {

  padding: 0 20px;

  .row {
    margin-bottom: 20px;
  }

}

.create-site-view {

  small.error {
    color: #a94442;
  }

  .form-control {

    &.ng-invalid.ng-dirty,
    &.ng-touched.ng-invalid {
      border-color: #a94442;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    &.ng-invalid.ng-dirty:focus {
      border-color: #843534;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    }

  }

  @media (min-width: $screen-md-min) {
    width: 40%;
    margin: auto;
  }
  @media (min-width: $screen-lg-min) {
    width: 35%;
    margin: auto;
  }
}

.creatingSpinner{
  display:block;
  margin: 0 auto;
}
