
body.#{$class-prefix}-dnd-enabled {

  .affix,
  .navbar-fixed-bottom,
  .navbar-fixed-top {
    right: 265px;
  }

  [data-studio-components-target] {
    z-index: 2 !important;
    padding: 10px !important;
    position: relative !important;
    border-color: $crimson !important;
    border-radius: $border-radius-base !important;
    background-color: rgba(255,255,255,.7) !important;
    box-shadow: 0 0 10px 0 rgba($crimson, .4) !important;

    .ui-sortable-handle{
      position: relative;

      .removeComp{
        position: absolute;
        top: -5px;
        right: 0px;
      }
      
    }

    .ui-sortable-helper{
      *{
        cursor: move!important;
      }
    }

    *{
      cursor: pointer;
    }

  }

  [data-studio-component] {

  }

  .#{$class-prefix}-div-mouse {
    background-color: white;
    z-index: 1000;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1050;
  }

  .#{$class-prefix}-component-drag-target {
    &.ui-draggable-dragging {
      color: #fff;
      padding: 5px 10px;
      text-align: center;
      background: $brand-primary;
      border-radius: $border-radius-base;
      cursor: move;
    }
  }

  .#{$class-prefix}-draggable-over {
    background-color: rgba(255,255,255,.9) !important;
    box-shadow: 0 0 5px 5px rgba(lighten($crimson, 10%), .4) !important;
    //width: 130%;
    //height: 200%!important;
  }

  &.#{$class-prefix}-pointer-enabled{
    .#{$class-prefix}-pointer-over {
      background-color: rgba(255,255,255,.9) !important;
      box-shadow: 0 0 5px 5px rgba(lighten($crimson, 10%), .4) !important;
      //width: 130%;
      //height: 200%!important;
    }
  }

}

.#{$class-prefix}-components-panel {

  @extend .studio-view;

  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 265px;
  display: block;
  position: fixed;
  background: #f8f8f8;
  box-shadow: 0 0 10px 0 rgba(#fff, .5);
  border-top: 1px solid #ccc;
  height: auto;
  z-index: 1036;

  &, * {
    font-style: normal;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #000 !important;
  }

  .#{$class-prefix}-panel-title {
    font-size: 1.4em;
    padding: 10px;
    font-weight: bold;
  }

  [data-action="done"] {
    top: 9px;
    right: 11px;
    border: none;
    padding: 0px 11px;
    line-height: 27px;
    position: absolute;
    color: #fff !important;
  }

  .#{$class-prefix}-component-search {
    padding: 0 10px;
    input[type="search"] {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 50px;
      padding: 5px 10px;
      outline: none;
      display: none;
    }
  }

  .#{$class-prefix}-components-container {

    left: 0;
    right: 0;
    bottom: 0;
    top: 38px;
    padding: 10px;
    position: absolute;
    overflow: auto;

    .#{$class-prefix}-category {

      margin-bottom: 12px;
      box-shadow: 1px 0 2px rgba(0,0,0,.1);
      border-radius: $border-radius-base;

      .#{$class-prefix}-category-name {
        padding: 5px 10px;
        font-size: 1.1em;
        border-bottom: 1px solid $gray-lighter;
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
        background: #F0F0F0;
        font-weight: bold;
        &.add-existing-component{
          background: rgba(221, 221, 221, 0.8);
        }
      }

      > sul {
        display: block;
        list-style: none;
        background: #fff;
        border-top: none;
        padding: 0;
        margin: 0;
        border-bottom-left-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
        > sli {

          border-bottom: 1px solid #F0F0F0;
          display: block;
          
          > sa {
            display: inline-block;
            padding: 5px 10px;
            width: 87%;
          }
          > .deleteComponent{
            cursor: pointer;
            width: 20px;
            display: inline-block;
            height: 20px;
            background: url(/studio/static-assets/themes/cstudioTheme/images/icons/icon_strip_vertical.gif) no-repeat;
            background-position: 0 -120px;
            position: relative;
            top: 6px;
          }
        }
      }

      &.#{$class-prefix}-collapse {
        .#{$class-prefix}-category-name {
          border-bottom-left-radius: $border-radius-base;
          border-bottom-right-radius: $border-radius-base;
        }
        sul {
          display: none;
        }
      }


    }

  }

  .add-component{
    color: #fff !important;
    width: 100%;
  }

  .component {
    background: url(/studio/static-assets/themes/cstudioTheme/images/icons/icon_strip_vertical.gif) no-repeat;
    background-position: 0 -501px;
    display: inline-block;
    padding-left: 20px;
    float: left;
    width: 20px;
    height: 17px;
  }

  .ui-draggable-dragging{
    cursor: move!important;
  }

}

.ui-sortable{
  min-height: 40px;
  min-width: 50px;
}

.ui-sortable-handle.ui-sortable-helper{
  z-index:99999!important;
  position: relative;

}

.studio-component-drag-target.studio-component-over{
  box-shadow: 0 0 3px 3px rgba(lighten($crimson, 10%), .2) !important;
}

.studio-component-drag-target.ui-draggable.ui-draggable-handle.ui-draggable-dragging{
  background-color: #fff;
  color:#000;
}

.studio-draggable-over{
  //width: 100%;
}