<div class="studio-view">

    <h3 class="view-title" data-translation="approveDialogTitle">Approve for Publish</h3>
    <div class="view-caption" data-translation="approveDialogSubTitle">
        The following checked items will go live.
    </div>

    <div class="row">
        <div class="col-sm-8">

            <div class="form-group">
                <table class="item-listing">
                    <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" class="select-all-check" checked/></th>
                        <th class="name" data-translation="approveDialogPage">Page</th>
                        <th class="text-right schedule original-schedule" data-translation="approveDialogOriginalSchedule">Original Schedule</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3"><i data-translation="loading">Loading&hellip;</i></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <label data-translation="approveDialogSubmissionComment">Submission Comment</label>
                <textarea class="form-control submission-comment"></textarea>
            </div>

        </div>
        <div class="col-sm-4">

            <h4 data-translation="approveDialogSelectedScheduling">Selected Item Scheduling</h4>

            <div class="radio">
                <label>
                    <input class="schedulingMode" type="radio" name="schedulingMode" value="now" checked />
                    <span data-translation="approveDialogItemsLiveNow">Items should go live now.</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input class="schedulingMode" type="radio" name="schedulingMode" value="custom" />
                    <span data-translation="approveDialogItemsLiveDate">Items go live on a specific date &amp; time</span>
                </label>
            </div>

            <div class="row unpad">
                <div class="col-sm-12 date-picker-control" style="display: none">
                    <input class="date-picker form-control" name="scheduleDate" type="datetime" />
                </div>
            </div>

            <section>
                <h3 data-translation="approveDialogPublishContent">Publish Content</h3>
                <div class="form-group">
                    <label data-translation="approveDialogPublishingOptions">Publishing Options</label>
                    <select class="form-control publish-option"></select>
                </div>
                <div class="form-group">
                    <strong data-translation="approveDialogBroadcastUpdate">Broadcast content update</strong>
                </div>
                <div class="form-group">
                    <label data-translation="approveDialogPublishingOptions">Publishing Options</label>
                    <textarea class="form-control publish-option-comment"></textarea>
                </div>
            </section>

        </div>
    </div>

    <div class="action-wrapper">
        <button data-translation="submit" class="btn btn-primary submit-button">
            Submit
        </button>
        <button data-translation="close" class="btn btn-default close-button">
            Close
        </button>
    </div>

</div>
