<div class="studio-view admin-delete-view">

    <style type="text/css">
        .admin-delete-view .item.sub-item {
            padding-left: 0;
        }
        .admin-delete-view .item.sub-item input {
            margin-left: 15px;
        }
        .admin-delete-view table.dependencies-table-head .item,
        .admin-delete-view table.dependencies-table .item,
        .admin-delete-view table.dependencies-table-head .item-desc,
        .admin-delete-view table.dependencies-table .item-desc,
        .admin-delete-view table.dependencies-table-head .item-sch,
        .admin-delete-view table.dependencies-table .item-sch {
            white-space: nowrap;
            overflow:hidden;
        }
        .admin-delete-view table.dependencies-table-head .item,
        .admin-delete-view table.dependencies-table .item {
            width: 175px;
        }
        .admin-delete-view table.dependencies-table-head .item-desc,
        .admin-delete-view table.dependencies-table .item-desc {
            width: 235px;
        }
        .admin-delete-view table.dependencies-table-head .item-sch,
        .admin-delete-view table.dependencies-table .item-sch {
            width: 105px;
            text-align: right;
        }
        .admin-delete-view table.dependencies-table .item-sch a.when {
            margin-right:5px;
        }
        #acnVersionWrapper .item-check[type="checkbox"] {
            margin-right: 5px;
        }
        .dialog-overlay,
        .dialog-overlay-message {
            position: absolute;
        }
        .dialog-overlay {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #eee;
            opacity: 0.7;
        }
        .dialog-overlay-message {
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -150px;
            height: 40px;
            width: 300px;
            font-size: 20px !important;
            text-align: center !important;
        }
    </style>

    <div class="processing-overlay" style="display: none">
        <div class="dialog-overlay"></div>
        <div class="dialog-overlay-message">
            Processing, please wait&hellip;
        </div>
    </div>

    <h3 data-translation="deleteDialogTitle" class="view-title">Delete</h3>
    <div class="form-group">
        <span data-translation="deleteDialogSubTitle">The following checked items will be deleted:</span>
        <a class="set-all-now" href="javascript:" style="float:right" data-translation="deleteDialogSetLink">Set everything to "Now"</a>
    </div>

    <div class="form-group">
        <table class="item-listing scroll-body">
            <thead>
            <tr>
                <th class="medium"><div class="item"><span style="padding-left:15px" data-translation="deleteDialogPage">Page</span></div></th>
                <th class="large"><div class="item-desc">&nbsp;</div></th>
                <th class="small"><div class="item-sch" data-translation="deleteDialogDelete">Delete</div></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="form-group items-feedback" style="text-align:center;" data-translation="deleteDialogFeedBack">
        Dependencies must be checked before you can submit
    </div>

    <div class="action-wrapper">
        <input id="deleteBtn" type="submit" class="do-delete btn btn-primary" value="Delete" />
        <input id="cancelBtn" type="submit" class="cancel btn btn-default" value="Cancel" />
    </div>

</div>
