<div class="studio-view history-view">

    <style type="text/css">
        .history-view table.item-listing {
            width: auto;
        }
        .history-view .item-listing .c1 {
            width: 20px;
        }
        .history-view .item-listing .c2 {
            width: 58px;
        }
        .history-view .item-listing .c3 {
            width: 145px;
        }
        .history-view .item-listing .c4 {
            width: 70px;
        }
        .history-view .item-listing .c5 {
            width: 42px;
        }
        .history-view .item-listing .c6 {
            display: inline-block;
            word-wrap: break-word;
            width: 155px;
        }
        .history-view .division {
            border-top:1px #CCC dashed;
            margin: 4px 0;
        }
    </style>

    <h3 data-translation="historyDialogTitle" class="view-title">Version History</h3>
    <div class="view-caption">
        <span data-translation="historyDialogSubTitle">History shown for:</span></span> <span class="show-for-item status-icon"></span>
    </div>

    <div class="form-group">
        <table class="item-listing">
            <thead>
            <tr>
                <th><div data-translation="historyDialogTableRowVersion" class="c2">Version</div></th>
                <th><div data-translation="historyDialogTableRowTime" class="c3">Edit Time</div></th>
                <th><div data-translation="historyDialogTableRowEditBy" class="c4">Edited By</div></th>
                <th><div data-translation="historyDialogTableRowComment" class="c6">Comment</div></th>
                <th><div class="c5">&nbsp;</div></th>
            </tr>
            </thead>
            <tbody>
            <tr><td colspan="5"><i>Loading&hellip;</i></td></tr>
            </tbody>
        </table>
    </div>

    <div class="action-wrapper">
        <input id="historyCloseBtn" type="button" class="close-button btn btn-default" value="Close" />
    </div>

</div>
