<div class="studio-view history-view">

    <style type="text/css">
        .history-view table.item-listing {
            width: auto;
        }
        .history-view .item-listing .c1 {
            width: 20px;
        }
        .history-view .item-listing .c2 {
            width: 60px;
        }
        .history-view .item-listing .c3 {
            width: 150px;
        }
        .history-view .item-listing .c4 {
            width: 65px;
        }
        .history-view .item-listing .c5 {
            width: 40px;
        }
        .history-view .item-listing .c6 {
            display: inline-block;
            word-wrap: break-word;
            width: 155px;
        }
        .history-view .division {
            border-top:1px #CCC dashed;
            margin: 4px 0;
        }
    </style>

    <h3 class="view-title">Version History</h3>
    <div class="view-caption">
        History shown for: <span class="show-for-item status-icon"></span>
    </div>

    <div class="form-group">
        <table class="item-listing">
            <thead>
            <tr>
                <th><div class="c2">Version</div></th>
                <th><div class="c3">Edit Time</div></th>
                <th><div class="c4">Edited By</div></th>
                <th><div class="c6">Comment</div></th>
                <th><div class="c5">&nbsp;</div></th>
            </tr>
            </thead>
            <tbody>
            <tr><td colspan="5"><i>Loading&hellip;</i></td></tr>
            </tbody>
        </table>
    </div>

    <div class="action-wrapper">
        <input type="button" class="close-button btn btn-default" value="Close" />
    </div>

</div>
