<div class="studio-view">

    <h3 class="view-title">Request Publish</h3>
    <div class="form-group">
        When would you like the checked item(s) to go live?
    </div>

    <div class="form-group">
        <div class="radio">
            <label>
                <input type="checkbox" name="notifyApproval" checked /> Email me when items go live.
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">

            <div class="form-group">
                <table class="item-listing">
                    <thead>
                    <tr>
                        <th><input type="checkbox" class="select-all-check"/></th>
                        <th>Page</th>
                        <th>Original Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3"><i>Loading&hellip;</i></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-sm-4">

            <section class="form-group">

                <h4>Selected Item Scheduling</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="schedulingMode" value="now" checked />
                        Items should go live now.
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="schedulingMode" value="custom" />
                        Items go live on a specific date &amp; time
                    </label>
                </div>

                <div class="date-picker-control" style="display: none">
                    <input class="date-picker form-control" name="scheduleDate" type="datetime" />
                </div>

            </section>

            <section class="form-group">
                <label>Submission Comment</label>
                <textarea class="form-control submission-comment"></textarea>
            </section>

        </div>
    </div>

    <div class="action-wrapper">
        <button class="btn btn-primary submit-button">
            Submit
        </button>
        <button class="btn close-button">
            Close
        </button>
    </div>

</div>