<div class="studio-view delete-view">

    <style>
        .delete-view .item-desc {
            white-space: nowrap;
            overflow: hidden;
            width: 310px;
        }
    </style>

    <h3 class="view-title">Submit for deletion</h3>
    <div class="form-group">
        When would you like the checked item(s) to be deleted?
    </div>

    <div class="form-group">
        <div class="radio">
        	<label>
            <input id="now" type="radio" name="timing" class="asap" checked /> 
            As soon as possible.
            </label>
        </div>
        <div>
        	<div class="radio">
        	<label>
            <input id="settime" type="radio" name="timing" class="at-requested-time" /> 
            At the requested time:
            </label>
			</div>
            <input id="datepicker" class="date-picker water-marked form-control" value="Date..." default="Date..." />
            <input id="timepicker" class="time-picker water-marked form-control" value="Time..." default="Time..." />
            <div class="timeButtonContainer" style="float:none; vertical-align:middle; display:inline-block;">
                <input id="timeIncrementButton" type="submit" value=""/>
                <input id="timeDecrementButton" type="submit" value=""/>
            </div>

            <span class=""><span id="timeZone">EST</span> (<a href="javascript:" class="scheduling-policy">Scheduling Policy</a>)</span>
        </div>
    </div>
    <div class="form-group checkbox">
    	<label>
        <input class="email-notify" type="checkbox" checked /> Email me when my items are deleted
        </label>
    </div>

	<div class="form-group">
		<table class="item-listing">
			<thead>
				<tr><th colspan="2">Page</th></tr>
			</thead>
			<tbody></thody>
		</table>
	</div>
    <div class="form-group items-feedback" style="text-align:center;margin-top:-10px">
        Dependencies must be checked before you can submit
    </div>

    <div class="action-wrapper">
        <button class="btn btn-primary schedule-for-delete">Submit</button>
        <button class="btn btn-default cancel">Cancel</button>
    </div>

</div>
