/** drag and drop widgets */
.cstudio-component-zone-on {
  -webkit-box-shadow: 0px 1px 7px 0px #131313;
	box-shadow: 0px 1px 7px 0px #131313;

	border: 0 none;
}

.cstudio-component-zone-active {
	-webkit-box-shadow: none;
	box-shadow: none;

 	outline: 5px solid #86BBEA;
 	border: 0 none;
}

.cstudio-draggable-component { position: relative; }

/* Do not show the delete control by default, only if it's inside a draggable component */
.delete-control { display: none; }

.cstudio-draggable-component .delete-control {
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
}

.cstudio-draggable-component-on {
	outline: 2px dotted #B1D3F1;
	border: 0 none;
	margin: 2px 0;
}
.acn-panel-component > .cstudio-draggable-component-on.new-component {
	outline: 2px dotted #B1D3F1;
	border: 0 none;
	margin: 8px 4px;
}
.acn-accordion-panel .cstudio-draggable-component-on { 
	outline: 2px dotted #A9A9A9; 
	margin: 2px 4px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cstudio-draggable-component-on:hover {
 	outline: 3px solid #86BBEA;
 	border: 0 none;
 	cursor: move !important;
}
.cstudio-draggable-component .delete-control:hover {
	cursor: pointer !important;
}

.acn-accordion-panel .cstudio-draggable-component-on:hover { 
	outline: 2px solid #86BBEA; 
}

/* Default styles for new component */
.cstudio-draggable-component-on.new-component { outline: 0 none; }

.cstudio-draggable-component.new-component {
	background-color: #FEFEFE;
	padding: 4px;
}
.acn-accordion-panel .new-component:hover > div > b {
	font-weight: bold;
}
.cstudio-draggable-component.new-component > div {
	background-color: transparent;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	color: #444;
	cursor: move !important;
	padding: 0;
}
.cstudio-draggable-component.new-component > div > .tipText {
	display: none;
}
.cstudio-draggable-component.new-component > div > b {
	display: block;
	font-size: 12px;
	font-weight: normal;
}

/* new component style overrides */
.cstudio-component-zone .cstudio-draggable-component.new-component > div,
.ddproxy .cstudio-draggable-component.new-component > div {
	background-color: #B1D3F1;
	border-radius: 5px;
	padding: 5px 15px 10px 15px;
}
.cstudio-component-zone .cstudio-draggable-component.new-component > div > .tipText,
.ddproxy .cstudio-draggable-component.new-component > div > .tipText {
	display: block;
}
.cstudio-component-zone .cstudio-draggable-component.new-component > div > b,
.ddproxy .cstudio-draggable-component.new-component > div > b {
	font-size: 18px;
	font-weight: bold;
}

/* Styles for new component inside preview tools menu -override previous styles */
.acn-panel-component > .cstudio-draggable-component.new-component {
	border: 0 none;
	background-color: transparent;
	padding: 4px 10px;
	cursor: move !important;
}

/* Styles for new component inside a container -override previous styles */
.cstudio-component-zone .cstudio-draggable-component.new-component {
	border: 0 none;
	outline: 3px dotted #A9A9A9;
	margin: 15px 0;
}
.cstudio-component-zone .cstudio-draggable-component.new-component span { }

.cstudio-component-zone .cstudio-draggable-component.new-component:hover {
	outline: 3px solid #86BBEA;
 	border: 0 none;
}


.cstudio-component-zone .cstudio-ice { min-height: 300px; }

#draggable-background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.46);
	visibility: none;
	z-index: -1;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: visibility 0s linear 0.4s, z-index 0s linear 0.4s, opacity 0.4s linear 0s;
	-moz-transition: visibility 0s linear 0.4s, z-index 0s linear 0.4s, opacity 0.4s linear 0s;
	-o-transition: visibility 0s linear 0.4s, z-index 0s linear 0.4s, opacity 0.4s linear 0s;
	-ms-transition: visibility 0s linear 0.4s, z-index 0s linear 0.4s, opacity 0.4s linear 0s;
	transition: visibility 0s linear 0.4s, z-index 0s linear 0.4s, opacity 0.4s linear 0s;
}

#draggable-background.invisible {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	visibility: none;
	z-index: -1 !important;
}

#draggable-background.visible {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	visibility: visible;
	z-index: auto;

	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}

#ajax-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.06);
	display: none;
}
#ajax-overlay.visible {
	display: block;
}
#ajax-overlay.invisible {
	display: none;
}
#ajax-overlay .ajax-loader {
	background: url(images/ajax-loader.gif) no-repeat center center;
	width: 32px;
	height: 32px;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
	position: absolute;
}