
$crimson: #ED1C24;
$studio-blue: #283277;
$old-purple: #7e9dbb;

$brand-primary: #7e9dbb;
$brand-danger: $crimson;

$font-size-base: 13px;

$class-prefix: 'crafter-studio' !default;

$ice-class-prefix: $class-prefix + '-ice' !default;
$ice-attribute-name: 'data-studio-ice' !default;
$ice-indicator-size: 20px !default;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";