
@import "variables";

/* Structural & Behavioural Styles */

[#{$ice-attribute-name}] {

}

.#{$ice-class-prefix}-overlay,
.#{$ice-class-prefix}-indicator {
  cursor: pointer;
}

.#{$ice-class-prefix}-overlay {
  position: absolute;
  border-style: solid;
  border-width: 2px;
}

.#{$ice-class-prefix}-indicator {
  position: absolute;
  border-radius: 0 0 5px 0;
  width: $ice-indicator-size;
  height: $ice-indicator-size;
  background-image: url('/studio/static-assets/themes/cstudioTheme/images/edit.png');
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

/* Look & feel / Theme Styles */

.#{$ice-class-prefix}-overlay {
  border-color: $brand-success;
  box-shadow: rgba($brand-success, .4) 0 10px 5px;
}

.#{$ice-class-prefix}-indicator {
  background-color: rgba(#fff, .5);
}