.bulk-op-area {
    position: relative;
    top: 15px;
    left:250px;
    right:auto;
    width:1000px;
}

.bulk-table {
    display: table;
    text-align: left;
    margin: auto;
}

.bulk-table-row {
    display: table-row;
}

.bulk-table-cell {
    display: table-cell;
    padding: 3px;
}

.action-button {
    width: 100px;
    background: #000000;
    color: #FFFFFF;
    border: none;
    margin: 5px;
    height: 20px;
}