.cs-loglist-heading {
    background: none repeat scroll 0 0 black;
    border: 1px solid black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-color: black white black black;
    padding: 5px;
}

.cs-loglist {
   left: 10px;
   position: relative;
   right: auto;
   top: 5px;
   width: 90%;
  }

.timestamp {
 text-align:top;
 min-width: 150px;
 height: 30px;
}

.message {
  padding-top:15px;
  height: 30px;
  overflow: scroll;
}

.exception {
  padding-top:15px;
  padding-left:40px;
  height: 30px;
  overflow: scroll;
}

#log-view {
   left: 250px;
   position: relative;
   right: auto;
   top: 85px;

    height:500px;
    min-height:500px;
    width: 70%;
    border: 1px solid black;
    overflow:scroll;
}

.cs-loglist-detail {
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

.INFO {
  color: black;
}

.ERROR {
  color: red;
  font-weight: bolder;
}

.WARN {
  color: orange;
  font-weight: bold;
}

.DEBUG {
  color: blue;

}

.TRACE {
  color: purple;
}