.cs-joblist-heading {
    background: none repeat scroll 0 0 black;
    border: 1px solid black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-color: black white black black;
    padding: 5px;
}

.cs-joblist {
    left: 250px;
    position: relative;
    right: auto;
	top: 15px;
}

.cs-joblist-detail {
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
}