<form id="loginView" class="login-view">
    <div class="pad" ui-view>

        <div class="row">
            <div class="col-lg-12 columns text-center">
                <img ng-src="{{crafterLogo}}"
                     style="width: 60%; margin: 0 auto 20px; display: block;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 columns">
                <div class="form-group">
                    <label for="username">Email/Username</label>
                    <input id="username" type="text"
                           ng-model="credentials.username"
                           class="form-control" placeholder="john@domain.com"
                           ng-model="credentials.username"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 columns">
                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" id="password"
                           class="form-control" placeholder=""
                           ng-model="credentials.password" />
                    <!-- <a ui-sref="login.recover">Forgot your Password?</a> -->
                </div>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-lg-12 columns">
                <div class="form-group">
                    <select id="language"
                            name="language"
                            class="form-control"
                            ng-change="selectAction(langSelect)"
                            ng-model="langSelect"
                            ng-options="opt.id as opt.label for opt in languagesAvailable">
                        <option value="" ng-if="false"></option>
                        <!--<option ng-selected="opt.selected" ng-repeat="opt in languagesAvailable" value="{{opt.id}}">
                            {{opt.label}}
                        </option>-->
                    </select>
                    <!-- <a ui-sref="login.recover">Forgot your Password?</a> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 columns">
                <div class="alert alert-danger" ng-if="error">
                    {{error.message}}
                </div>
                <button type="submit" class="btn btn-primary" ng-click="login()">Sign in</button>
            </div>
        </div>

    </div>
</form>