<div class="preview-container">
    <header ui-view="header">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home.sites">
                        <img src="/studio/static-assets/images/crafter_studio_360.png" alt="Crafter Studio"/>
                    </a>
                </div>

                <div class="collapse navbar-collapse">

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   placeholder="Send a message..."
                                   ng-model="data.message"/>
                        </div>
                        <button type="button" ng-click="sendMessage()" class="btn btn-default">Submit</button>
                        <button type="button" ng-click="reloadIFrame()" class="btn btn-default">Reload</button>
                    </form>

                    <ul class="nav navbar-nav">
                        <li class="dropdown studio-sites-dropdown" dropdown>
                            <a class="dropdown-toggle" dropdown-toggle>Sites <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ui-sref-active="active" ui-sref="home.settings">Settings</a></li>
                                <li><a ng-click="logout()">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <section id="main">
        <div class="site-window">
            <iframe id="studioIFrame" class="studio-preview-frame" ng-src="{{url}}"></iframe>
        </div>
    </section>
    <footer class="status-bar">
        <div class="status">{{status}}</div>
    </footer>
</div>