.yui-calcontainer{position:relative;float:left;_overflow:hidden;}
.yui-calcontainer iframe{position:absolute;border:none;margin:0;padding:0;z-index:0;width:100%;height:100%;left:0;top:0;}
.yui-calcontainer iframe.fixedsize{width:50em;height:50em;top:-1px;left:-1px;}
.yui-calcontainer.multi .groupcal{z-index:1;float:left;position:relative;}
.yui-calcontainer .title{position:relative;z-index:1;}
.yui-calcontainer .close-icon{position:absolute;z-index:1;text-indent:-10000em;overflow:hidden;}
.yui-calendar{position:relative;}
.yui-calendar .calnavleft{position:absolute;z-index:1;text-indent:-10000em;overflow:hidden;}
.yui-calendar .calnavright{position:absolute;z-index:1;text-indent:-10000em;overflow:hidden;}
.yui-calendar .calheader{position:relative;width:100%;text-align:center;}
.yui-calcontainer .yui-cal-nav-mask{position:absolute;z-index:2;margin:0;padding:0;width:100%;height:100%;_width:0;_height:0;left:0;top:0;display:none;}
.yui-calcontainer .yui-cal-nav{position:absolute;z-index:3;top:0;display:none;}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn{display:-moz-inline-box;display:inline-block;}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button{display:block;*display:inline-block;*overflow:visible;border:none;background-color:transparent;cursor:pointer;}
.yui-calendar .calbody a:hover{background:inherit;}
p#clear{clear:left;padding-top:10px;}