<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="fooTarget" class="org.craftercms.cstudio.publishing.target.PublishingTarget" init-method="register">
    	<property name="name"><value>foo</value></property>
    	<property name="manager" ref="TargetManager"/>
    	<property name="postProcessors"><list></list></property>
    	<property name="params">
            <map>
                <entry key="root"><value>target/foo</value></entry>
                <entry key="contentFolder"><value>content</value></entry>
                <entry key="metadataFolder"><value>meta-data</value></entry>
            </map>
    	</property>
    </bean>

</beans>