/* Sticky Footer */
* {
   margin: 0;
}

html, body {
   height: 100%;
}

#bd {
   padding: 18px 30px 30px 30px;
}

.sticky-wrapper {
   padding-top: 50px;
}

.sticky-footer, .sticky-push {
   height: 50px;
   margin: 0 0 71px;
}

/* Site-wide Styles */

#alfresco-yuiloader {
   display: none;
   height: 0;
   line-height: 0;
}

.caret-fix {
   overflow-x: auto;
}

.clear {
   clear: both;
   display: block;
   height: 1px;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

p {
   padding-top: 10px;
   padding-bottom: 3px;
}

hr {
   height: 1px;
   margin-top: 5px;
   margin-bottom: 8px;
   border: 0;
   width: 100%;
}

.yui-skin-cstudioTheme .yui-panel .ft span.button-group {
   text-align: center;
   vertical-align: middle;
}

.yui-skin-cstudioTheme .yui-panel .bd {
   padding: 0;
   text-align: left;
}

.yui-skin-cstudioTheme .yui-panel .yui-g h2,
.yui-skin-cstudioTheme .yui-panel .bd div.yui-gd,
.yui-skin-cstudioTheme .yui-panel .bd div.yui-u,
.yui-skin-cstudioTheme .yui-panel .bd div.bdft {
   padding: 0.3em;
}

.yui-skin-cstudioTheme .yui-panel .yui-gd .yui-u {
   width: 60%;
}

.yui-skin-cstudioTheme .yui-panel .yui-gd .yui-u.first {
   width: 28%;
}

.yui-skin-cstudioTheme .yui-panel .hd,
.yui-skin-cstudioTheme .yui-panel .bdft,
.yui-skin-cstudioTheme .yui-panel .ft {
   text-align: center;
}

/* Style the cstudioTheme message  */

.yui-skin-cstudioTheme #message {
   border: medium none;
}

.yui-skin-cstudioTheme #message .bd {
   padding: 2em;
}

.yui-skin-cstudioTheme #message .bd span.wait {
   padding: 4px 0 0 24px;
   visibility: visible;
}

/* Style the cstudioTheme prompt */

.yui-skin-cstudioTheme #prompt .hd {
   border-bottom: medium none;
}

.yui-skin-cstudioTheme #prompt .bd {
   padding: 1em;
   text-align: center;
}

.yui-skin-cstudioTheme #prompt .ft .button-group {
   display: block;
   padding-top: 0.5em;
   text-align: center;
}

.yui-skin-cstudioTheme #prompt .ft {
   border-top: none;
}

/* Page title and navigation styles */

.page-title {
   clear: left;
   margin: 0px -10px;
   min-height: 2em;
   padding: 6px 10px;
}

.page-title div.title {
   float: left;
   padding-top: 2px;
}

.page-title div.links {
   float: right;
   min-width: 36em;
   text-align: right;
}

.page-title h1 {
   display: inline;
}

.site-navigation {
   clear: left;
   margin: 0 -10px;
   min-height: 1em;
   padding: 5px 0 7px;
}

span.navigation-separator,
span.navigation-item,
span.navigation-item-alt {
   vertical-align: middle;
   margin: 0px;
}

span.navigation-item,
span.navigation-item-alt {
   padding: 0 0 0 6px;
}

span.navigation-item a,
span.navigation-item a:visited {
   padding: 3px 4px;
}

span.navigation-item a.active-page,
span.navigation-item a.active-page:visited,
span.navigation-item a:hover {
   text-decoration: none;
}

span.navigation-separator {
   margin-right: 6px;
   padding-left: 8px;
   text-align: center;
}

span.navigation-separator-alt {
   padding: 0px 0px 0px 10px;
   text-align: center;
}

/* Standard toolbar separator */

.toolbar .separator {
   margin: 4px 10px 0 0;
   padding: 2px 0 0 4px;
}

/**
 * Replace cstudioTheme styles for HTML content
 */
.rich-content sub {
   vertical-align: sub;
}

.rich-content sup {
   vertical-align: super;
}

.rich-content ul,
.rich-content ol {
   padding: 1em;
}

.rich-content ul li {
   list-style-type: disc;
   list-style-position: inside;
}

.rich-content ol li {
   list-style-type: decimal;
   list-style-position: inside;
}

.rich-content th,
.rich-content td {
   padding: 0.2em;
}

.draggable {
   cursor: move;
}

.drag {
   cursor: move;
}

.dropInvalid {
   cursor: no-drop;
}

.dropValid {
   cursor: pointer;
}

/* DataTable overrides */
.yui-skin-cstudioTheme .yui-dt tr.yui-dt-first td {
   border-top: medium none;
}

/* Richtext Editor Plug-ins */
.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon {
   left: 6px;
}

.yui-skin-cstudioTheme .flat-button a:hover {
   text-decoration: none;
}

.yui-skin-cstudioTheme .title-button .yui-button span a {
   white-space: nowrap;
}

/* A combination of a link and splitbutton wrapped inside a span */

.yui-skin-cstudioTheme .link-menu-button {
   padding-bottom: 4px;
   padding-top: 2px;
   vertical-align: middle;
   border: 1px solid transparent;
}

.yui-skin-cstudioTheme .link-menu-button .yui-menu-button,
.yui-skin-cstudioTheme .link-menu-button .yui-menu-button span,
.yui-skin-cstudioTheme .link-menu-button .yui-menu-button span button {
   margin: 0;
   padding: 0;
   vertical-align: middle;
}

.yui-skin-cstudioTheme .link-menu-button .yui-menu-button {
   border: 1px solid transparent;
   background-image: none;
   /*margin-top:3px;*/
}

.yui-skin-cstudioTheme .link-menu-button .yui-menu-button span button {
   padding: 6px 7px;
   /*
   width: 20px;
   */
}

.yui-skin-cstudioTheme .link-menu-button .yui-menu-button.yui-menu-button-activeoption button,
.yui-skin-cstudioTheme .link-menu-button .yui-menu-button.yui-menu-button-hover button {
   text-decoration: none;
}
