/* CSS Overrides for Microsoft Internet Explorer v6 */

textarea
{
   font-family: Arial, sans-serif; 
}


/**
 * Global site header
 */
.header .logo-wrapper
{
   margin-bottom: -1px;
   margin-right: -3px;
   /*padding-bottom: 10px;*/
}

.header .menu-wrapper
{
   height: 18px;
   line-height: 18px;
   padding-bottom: 8px;
}

.header .personal-menu
{
   height:18px;
   padding-top: 6px;
   padding-bottom: 6px;
}

.header .link-menu-button
{
   border:1px solid #F2F2F2;
   padding-bottom:2px;
   padding-top:1px;
}

.yui-skin-cstudioTheme span.link-menu-button span.yui-menu-button.yui-menu-button-hover
{
   border: 1px solid #7BA9CE;
}

.yui-skin-cstudioTheme .link-menu-button.link-menu-button-menu-active
{
   border: 1px solid #7BA9CE;
}

.yui-skin-cstudioTheme span.link-menu-button.link-menu-button-menu-active span.yui-menu-button
{
   border: 1px solid #FFFFFF;
}

.yui-skin-cstudioTheme span.link-menu-button.link-menu-button-menu-active span.yui-menu-button.yui-menu-button-hover
{
   border: 1px solid #FFFFFF;
}


.header .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel
{
   text-decoration: none;
}


/**
 * Global site footer
 */
.footer-ent .copyright
{
   padding-bottom: 0;
   padding-top: 0;
}

.footer-ent .copyright img
{
   padding-bottom: 10px;
   padding-top: 10px;
}


/* These messages/dialogs were getting full width if none was specified */
.yui-skin-cstudioTheme #prompt
{
   width: 30em;
}

.yui-skin-cstudioTheme #message
{
   width: 30em;
}


/**
 * Buttons
 *
 * Border property "transparent" doesnt work in IE6.
 * Set it to use a background color instead.  
 */
.yui-skin-cstudioTheme .flat-button .yui-button .first-child,
.yui-skin-cstudioTheme .flat-button .yui-button
{
   border-color: #E3EAEC;   
}

.yui-skin-cstudioTheme .dashlet .toolbar .yui-button .first-child,
.yui-skin-cstudioTheme .dashlet .toolbar .yui-button
{
   border-color: #F6F6F6;
}

.yui-skin-cstudioTheme .header .yui-button .first-child,
.yui-skin-cstudioTheme .header .yui-button
{
   border-color: #F2F2F2;
}

.yui-skin-cstudioTheme .dashlet .toolbar .yui-button.yui-button-hover .first-child,
.yui-skin-cstudioTheme .dashlet .toolbar .yui-button.yui-button-hover,
.yui-skin-cstudioTheme .flat-button      .yui-button.yui-button-hover .first-child,
.yui-skin-cstudioTheme .flat-button      .yui-button.yui-button-hover
{
   border-color: #808080;
}

.yui-skin-cstudioTheme .header .flat-button      .yui-button.yui-button-hover
{
   border: 1px solid #7BA9CE;
}

.yui-skin-cstudioTheme .sites-wrapper .yui-button.yui-split-button-activeoption,
.yui-skin-cstudioTheme .sites-wrapper .yui-button.yui-split-button-hover
{
   border: 1px solid #7BA9CE;
}


/**
 * Dashlets
 */

/* Some dashlets with css float in the body lost their border */
div.dashlet .body .clear
{
   clear: both;
   height: 1px;
}


/**
 * Page title and navigation
 */
.page-title
{
   height: 2.2em;
   line-height: 2.2em;   /*padding-bottom: 2em;*/
}

.page-title div.title
{
   margin-top: -4px;
}

.yui-skin-cstudioTheme .title-button .yui-button
{
   margin-left: 0.7em;
}

.site-navigation
{
   margin-top: -1px;
   padding-top: 6px;
}


/**
 * Re-apply the color for the popup bodies
 */
.yui-skin-cstudioTheme .yui-panel .bd
{
   color: #515D6B;
   background-color: #F9FBFD;
}


/**
 * Flash Upload needs some extra width on its popup to look good 
 */
.yui-panel-container .flash-upload
{
   width: 650px;
}

.fileUpload-filelist-table tbody .col-right div.fileupload-right-div
{
   height: 33px;
   margin-top: 7px;
}

.fileupload-fileButton-span
{
   position: static;
}

/**
 * Fix for 1 column dashboard layout
 */
div.grid.columnSize1 div.yui-u.first
{
   width:100%;
}

/**
 * Fix for 2/3 + 1/3 dashboard layout
 */
div.grid.columnSize2.yui-gc div.yui-u
{
   margin-left:1.99%;
   width:32%;
}

div.grid.columnSize2.yui-gc div.yui-u.first
{
   margin-left: 0;
   width:65%;
}

/**
 * Fix for 1/3 + 2/3 dashboard layout
 */

div.grid.columnSize2.yui-gd div.yui-u
{
   margin-left:1.99%;
   width:65%;
}

div.grid.columnSize2.yui-gd div.yui-u.first
{
   margin-left: 0;
   width:32%;
}

/**
 * Fix for 1/4 + 1/4 + 1/4 + 1/4 dashboard layout
 */
div.grid.columnSize4.yui-g div.yui-g
{
   margin-left:1.5%;
   width: 49%;
}

div.grid.columnSize4.yui-g div.yui-g.first
{
   margin-left: 0;
   width: 49%;
}

div.grid.columnSize4.yui-g div.yui-g div.yui-u {
   margin-left: 1.5%;
   width:47.5%;
}

div.grid.columnSize4.yui-g div.yui-g div.yui-u.first
{
   margin-left: 0;   
   width: 47.5%;
}


/**
 * Customise pages
 */
.customise-pages .currentPages ul li
{
   padding-left: 1em;
   padding-right: 1em;   
}


/**
 * Customise layouts
 */
.customise-layout div.layouts ul
{
   width:62em;
}


/**
 * Customise dashlets
 */
.customise-layout div.layouts ul
{
   overflow: hidden;
   width:61em;   
}

.customise-dashlets div.used div.noOfColumns1
{
   width:28em;
}

.customise-dashlets div.used div.noOfColumns2
{
   width:48em;
}

.customise-dashlets div.used div.noOfColumns3
{
   width:68em;
}

.customise-dashlets div.used div.noOfColumns4
{
   width:88em;
}

.customise-dashlets div.available,
.customise-dashlets div.used
{
   background-color: white;
   border: none;
}

.customisableDashlet
{
   overflow: hidden;
}


/**
 * Dashlets / position:relative and overflow:auto bug
 */
.dashlet .scrollableList,
.dashlet .scrollablePanel
{
   position: relative;
}

.activities div.ruler
{
   background-color: #f9fcfd;
}


/**
 * My Sites dashlet / padding bug
 */
.my-sites .first-item div.description
{
   margin-top: -7px;
}


/**
 * Members / invite pages
 */
.members-bar
{
   height: 1em;
}

.sent-invites .search-bar
{
   height:2em;  
}


/**
 * Document Library
 */
#divDocLibraryDocs .toolbar .header-bar
{
   padding-bottom: 2em;
}

#divDocLibraryDocs .toolbar .header-bar,
#divDocLibraryDocs .toolbar .nav-bar
{
   margin: 0 -10px;
}

.doclist .documents .detail
{
   width: 100%;
}

.doclist a.action-link,
.doclist a.simple-link,
.doclist a.show-more
{
   height:16px;
   white-space: nowrap;
   width: 1px;
}

/* When folder names are too long the layout is destroyed */
#divDocLibraryFilters
{
   overflow-x: hidden;
}

.treeview .ygtvchildren
{
   width: auto;
}

.copy-to .container-picker
{
   margin: 0.5em 0.2em 0px;
}

.copy-to .path .treeview
{
   width: 16em;
}

.workflow .people-finder .results table
{
   margin-right: -20px;
}

/**
 * Calendar
 */
.calendar-bar .align-right
{
   width: 68% !important;
}



/**
 * Profile
 */
.toolbar.userprofile
{
   height: 1.2em;
}


/**
 * Padding to some of the dashlets
 */

div.dashlet.site-profile div.body,
div.dashlet.wiki div.body,
div.dashlet.cmis div.body div,
div.dashlet.rssfeed div.body,
div.dashlet.calendar div.body
{                          
   padding-left:8px;
   padding-right:8px;
}

.toolbar,
.pagelist
{
   margin: 0;
}


/* Full preview backgroundd mask */
body.masked div.mask.full-preview-mask
{
   background-color: #303030;
   filter: alpha(opacity = 100);   
}

.site-finder .search-bar
{
   height:2em;
}

/* Prevent ghost border on first row for DataTables */
table .yui-dt-empty
{
   border: none !important;
}
