/* CSS Overrides for Microsoft Internet Explorer v7 */

textarea
{
   font-family: Arial, sans-serif; 
} 


/**
 * Global site header
 */

.header .personal-menu
{
   padding-top: 6px;
}

.header .util-menu
{
   padding-top: 1px;
}

.header .link-menu-button
{
   padding-bottom:3px;
   padding-top:1px;
}

.header .search-site-icon
{
   top: -2px;
}


/**
 * Global site footer
 */
.footer-ent
{
   position: relative;
   top: -2px;
}

.footer-ent .copyright
{
   padding-bottom: 0;
   padding-top: 0;
}

.footer-ent .copyright img
{
   padding-bottom: 10px;
   padding-top: 10px;
}


/**
 * Page title and navigation
 */
.site-navigation
{
   margin-top: -1px;
   padding-top: 6px;
}

.yui-skin-cstudioTheme .title-button .yui-button
{
   margin: 0 0.7em;
}


/**
 * Dashlets / position:relative and overflow:auto bug
 */
.dashlet .scrollableList,
.dashlet .scrollablePanel
{
   position: relative;
}

/**
 * My Sites dashlet / padding bug
 */
.my-sites .first-item div.description
{
   margin-top: -7px;
}


/**
 * Document Library
 */
.toolbar .selected-items hr
{
   color: #e4e4e4;
   margin: 0px;
   text-align: center;
   width: 10em;
}

.toolbar span.crumb
{
   background-position: left center;
}

.doclist .documents .detail
{
   width: 100%;
}

.workflow .people-selected
{
   height: 206px;
}


/**
 * Calendar
 */
.calendar-bar .align-right
{
   width: 68% !important;
}


/* Full preview backgroundd mask */

body.masked div.mask.full-preview-mask
{
   background-color: #303030;
   filter: alpha(opacity = 100);
}

.yui-skin-cstudioTheme #prompt
{
   width: 30em;
}

.yui-skin-cstudioTheme #message
{
   width: 30em;
}

/* Prevent ghost border on first row for DataTables */
table .yui-dt-empty
{
   border: none !important;
}

