/* Override Share's default login styles */
.login .copy {
    color: #555;
}

.form-fields.login.ENTERPRISE .form-field > span.yui-button,
.form-fields.login .form-field > span.yui-button {
    border-color: #2D333F;
}

.form-fields.login.ENTERPRISE .form-field > span.yui-button > .first-child,
.form-fields.login .form-field > span.yui-button > .first-child {
    background-color: #293C8B;
    border-color: #2D333F;
}

.alfresco-guest .theme-overlay {
    border: 0 none;
}