body
{
   background-color:#FAFAFA;
   text-align:center;
}

a {
	color: #0176b1;
	text-decoration: none;
}

		a:link {		
		}

		a:visited {			
		}

		a:hover {
			color: #005986;  
		}

		a:active {
			
		}

input
{
  
   
  font-size: 9px;

border: 1px solid #534A3D;
padding: 2px;
color:#999999;
margin-bottom: 6px;

}

.yui-panel-container.shadow .underlay
{
   display: none;
}

.yui-skin-sam .yui-panel
{
   border-style: none;
}

.login-panel
{
 
   background: transparent url("./images/bar_bg1.gif") no-repeat;
   
}

.login-button
{
   background-color: #f0f0f0;
}




#footer {
	border-width: 1px 0 0 0;
	border-style: dotted;
	border-color: #000;
	clear: both;
	margin:30px 30px 30px 30px;	
	padding: 10px 0 0 0;
	height:30px;
	

}

.login-copyright {
	float: right;
}

.login-contact	{
	float: left;
		
}

.login-logo
{
   
    margin-left:200px;
   height: 40px;
   width: 450px;


  
 
  background: transparent url("./images/app-logo.png") no-repeat;
}

.submitButtonstyle
{
	
}

.inputStyle
{
	
}

.errorStyle
{
	color:red;
}
.
