<content-type name="/page/home" is-wcm-type="true">
	<label>Home</label>
	<form>/page/home</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>true</content-as-folder>
	<previewable>true</previewable>
	<quickCreate>false</quickCreate>
	<quickCreatePath></quickCreatePath>
	<noThumbnail>false</noThumbnail>
	<image-thumbnail>page-home.png</image-thumbnail>
	<paths>
		<excludes>
			<pattern>^/site/.*</pattern>
		</excludes>
	</paths>
</content-type>
