<content-type name="/component/rich-text-section" is-wcm-type="true">
<label>Rich Text Section</label>
<form>/component/rich-text-section</form>
<form-path>simple</form-path>
<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
<file-extension>xml</file-extension>
<content-as-folder>false</content-as-folder>
<previewable>false</previewable>
<noThumbnail>true</noThumbnail>
<image-thumbnail></image-thumbnail>
</content-type>