body{padding:0;background:transparent;font-family:Arial,Helvetica,sans-serif;font-size:12px;scrollbar-3dlight-color:#F0F0EE;scrollbar-arrow-color:#676662;scrollbar-base-color:#F0F0EE;scrollbar-darkshadow-color:#DDD;scrollbar-face-color:#E0E0DD;scrollbar-highlight-color:#F0F0EE;scrollbar-shadow-color:#F0F0EE;scrollbar-track-color:#F5F5F5;margin:0;overflow:hidden;}
html{background:transparent;}
td{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#CCC;}
textarea{resize:none;outline:none;}
a:link,a:visited{color:black;}
a:hover{color:#2B6FB6;}
.nowrap{white-space:nowrap;}
fieldset{margin:0;padding:4px;border:1px solid #919B9C;font-family:Verdana,Arial;font-size:10px;}
legend{color:#7BB1EA;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;}
label.msg{display:none;}
label.invalid{color:#E00;display:inline;}
input.invalid{border:1px solid #E00;}
input{background:#FFF;border:1px solid #CCC;}
input,select,textarea{font-family:Arial,Helvetica,sans-serif;font-size:11px;}
input,select,textarea{border:1px solid #CCC;}
input.radio{border:1px none #000;background:transparent;vertical-align:middle;}
input.checkbox{border:1px none #000;background:transparent;vertical-align:middle;}
.input_noborder{border:0;}
#insert,#cancel,input.button,.updateButton{margin:0;padding:4px 15px;border:1px solid #999;background-color:rgba(0,0,0,0.8);color:#FEFEFE;font-size:14px;position:relative;display:inline-block;border-radius:3px;cursor:pointer;}
#insert{top:0;left:74px;}
#cancel{visibility:hidden;position:absolute;top:-100em;left:-100em;}
a.pickcolor,a.browse{text-decoration:none;}
a.browse span{display:block;width:20px;height:18px;background:url(../../img/icons.gif) -860px 0;border:1px solid #AAA;margin-left:6px;}
.mceOldBoxModel a.browse span{width:22px;height:20px;}
a.browse:hover span{border:1px solid #0A246A;background-color:#B2BBD0;}
a.browse span.disabled{border:1px solid white;opacity:.3;-ms-filter:'alpha(opacity=30)';filter:alpha(opacity=30);}
a.browse:hover span.disabled{border:1px solid white;background-color:transparent;}
a.pickcolor span{display:block;width:20px;height:16px;background:url(../../img/icons.gif) -840px 0;margin-left:2px;}
.mceOldBoxModel a.pickcolor span{width:21px;height:17px;}
a.pickcolor:hover span{background-color:#B2BBD0;}
table.charmap{border:1px solid #AAA;text-align:center;}
td.charmap,#charmap a{width:18px;height:18px;color:#000;border:1px solid #AAA;text-align:center;font-size:12px;vertical-align:middle;line-height:18px;}
#charmap a{display:block;color:#000;text-decoration:none;border:0;}
#charmap a:hover{background:#CCC;color:#2B6FB6;}
#charmap #codeN{font-size:10px;font-family:Arial,Helvetica,sans-serif;text-align:center;}
#charmap #codeV{font-size:40px;height:80px;border:1px solid #AAA;text-align:center;}
.wordWrapCode{vertical-align:middle;border:1px none #000;background:transparent;}
.mceActionPanel{margin-top:0;}
.mceActionPanel #action{margin-left:11px;margin-bottom:10px;}
.tabs{width:100%;height:18px;line-height:normal;}
.tabs ul{margin:0;padding:0;list-style:none;}
.tabs li{float:left;margin:0 2px 0 0;padding:0 0 0 10px;line-height:32px;height:32px;display:block;background-color:rgba(0,0,0,0.5);}
.tabs li.current{background-color:rgba(0,0,0,0.8);margin-right:2px;}
.tabs li.hidden{display:none;}
.tabs span{float:left;display:block;padding:0 10px 0 0;}
.tabs a{text-decoration:none;font-family:Arial;font-size:14px;display:block;color:#EFEFEF;}
.tabs a:link,.tabs a:hover{color:#FEFEFE;}
.panel_wrapper div.panel{display:none;}
.panel_wrapper div.current{display:block;width:100%;overflow:visible;height:auto!important;}
.panel_wrapper{border-top:0;padding:10px;clear:both;background:transparent;}
.column{float:left;}
.properties{width:100%;}
.properties .column2{text-align:left;}
h1,h2,h3,h4{color:#2B6FB6;margin:0;padding:0;padding-top:5px;}
h3{font-size:14px;}
.title{font-size:12px;font-weight:bold;color:#2B6FB6;}
#image .panel_wrapper,#image div.current{height:200px;}
#plugintable thead{font-weight:bold;background:#DDD;}
#plugintable,#about #plugintable td{border:1px solid #919B9C;}
#plugintable{width:96%;margin-top:10px;}
#pluginscontainer{height:290px;overflow:auto;}
#colorpicker #preview{border:1px solid #DEDEDE;width:50px;height:24px;display:inline-block;vertical-align:bottom;position:relative;left:126px;}
#colorpicker #colors{float:left;border:1px solid gray;cursor:crosshair;}
#colorpicker #light{border:1px solid gray;margin-left:5px;float:left;width:15px;height:150px;cursor:crosshair;}
#colorpicker #light div{overflow:hidden;}
#colorpicker #previewblock{display:inline-block;color:#FEFEFE;margin-left:-30px;}
#colorpicker #previewblock input{width:50px;margin-left:4px;}
#colorpicker .panel_wrapper div.current{height:175px;}
#colorpicker #named_panel{width:252px;}
#colorpicker #namedcolors{width:242px;}
#colorpicker #namedcolors a{display:block;float:left;width:10px;height:10px;margin:1px 1px 0 0;overflow:hidden;}
#colorpicker #colornamecontainer{color:#FEFEFE;margin-top:5px;}
#colorpicker #picker_panel fieldset{width:325px;}
#colorpicker #rgb_panel{width:210px;}
#colorpicker #insert{left:10px;}
#anchor{margin-top:20px;padding-left:15px;}
#anchor td#app_title{visibility:hidden;}
#anchor #insert{left:87px;top:6px;}
#merge-cells fieldset{width:220px;margin:40px 30px 15px 30px;}
#merge-cells legend{font-size:16px;margin-bottom:2px;}
#merge-cells #insert{left:30px;}
#table #insert,#tablerow #insert,#tablecell #insert{left:10px;}
#table td{max-width:120px;}
#table #general_panel table{max-width:760px;}
#table #advanced_panel>fieldset>table{min-width:320px;}
#tablecell td{min-width:100px;}
#tablecell #general_panel table{min-width:540px;}
#tablecell #advanced_panel>fieldset>table{min-width:500px;}
#tablerow #advanced_panel>fieldset>table{min-width:390px;}
.hidden{display:none!important;}