<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2007-2019 Crafter Software Corporation. All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.AuditFeedMapper">
    <resultMap id="AuditFeedMap" type="org.craftercms.studio.api.v1.dal.AuditFeed">
        <id property="id" column="id"/>
        <result property="modifiedDate" column="modified_date"/>
        <result property="creationDate" column="creation_date"/>
        <result property="summary" column="summary"/>
        <result property="summaryFormat" column="summary_format"/>
        <result property="contentId" column="content_id"/>
        <result property="siteNetwork" column="site_network"/>
        <result property="type" column="activity_type"/>
        <result property="contentType" column="content_type"/>
        <result property="userId" column="post_user_id"/>
        <result property="source" column="source" />
    </resultMap>

    <select id="getDeletedActivity" parameterType="java.util.Map" resultMap="AuditFeedMap">
        select *
        from audit
        where site_network = #{siteNetwork}
        and content_id = #{contentId}
        and activity_type = #{activityType}
        order by modified_date DESC limit 0, 1
    </select>

    <select id="selectUserFeedEntries" parameterType="java.util.Map" resultMap="AuditFeedMap">
        select cs1.*
        from audit cs1
            inner join (select MAX(modified_date) as mdate, content_id from audit where post_user_id = #{userId} and site_network = #{siteNetwork} and summary_format = #{summaryFormat}
            and activity_type in
            <foreach item="activity" index="index" collection="activities"
                 open="(" separator="," close=")">
                #{activity}
            </foreach>
            <if test="contentType != null and contentType != 'all' ">
              and content_type = #{contentType}
            </if>
            group by content_id) as cs2
            on (cs1.content_id = cs2.content_id and cs1.modified_date = cs2.mdate)
        where cs1.post_user_id = #{userId} and cs1.site_network = #{siteNetwork} and cs1.summary_format = #{summaryFormat}
        and cs1.activity_type in
        <foreach item="activity" index="index" collection="activities"
                 open="(" separator="," close=")">
            #{activity}
        </foreach>
        <if test="contentType != null and contentType != 'all' ">
            and cs1.content_type = #{contentType}
        </if>
        order by cs1.modified_date desc limit #{startPos},#{feedSize}
    </select>

    <select id="selectUserFeedEntriesHideLive" parameterType="java.util.Map" resultMap="AuditFeedMap">
        select act.*
        from (
            select cs1.*
            from audit cs1
            inner join (select MAX(modified_date) as mdate, content_id from audit where post_user_id = #{userId} and site_network = #{siteNetwork} and summary_format = #{summaryFormat}
            and activity_type in
            <foreach item="activity" index="index" collection="activities"
                     open="(" separator="," close=")">
                #{activity}
            </foreach>
            <if test="contentType != null and contentType != 'all' ">
                and content_type = #{contentType}
            </if>
            group by content_id) as cs2
            on (cs1.content_id = cs2.content_id and cs1.modified_date = cs2.mdate)
            where cs1.post_user_id = #{userId} and cs1.site_network = #{siteNetwork} and cs1.summary_format = #{summaryFormat}
            and cs1.activity_type in
            <foreach item="activity" index="index" collection="activities"
                     open="(" separator="," close=")">
                #{activity}
            </foreach>
            <if test="contentType != null and contentType != 'all' ">
                and cs1.content_type = #{contentType}
            </if>
        ) act
        inner join item_state os on act.site_network=os.site and act.content_id=os.path
        where act.post_user_id = #{userId}
        and act.site_network = #{siteNetwork}
        and act.summary_format = #{summaryFormat}
        and act.activity_type in
        <foreach item="activity" index="index" collection="activities"
                 open="(" separator="," close=")">
            #{activity}
        </foreach>
        <if test="contentType != null and contentType != 'all' ">
            and act.content_type = #{contentType}
        </if>
        and os.state NOT IN
        <foreach item="state" index="index" collection="states"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
        order by act.modified_date desc limit #{startPos},#{feedSize}
    </select>

    <select id="getCountUserContentFeedEntries" parameterType="java.util.Map" resultType="int">
        select count(*)
        from audit
        where post_user_id = #{userId}
        and site_network = #{siteNetwork}
        and content_id = #{contentId}
    </select>

    <insert id="insertActivityFeed" parameterType="org.craftercms.studio.api.v1.dal.AuditFeed" flushCache="true">
        insert into audit (activity_type, summary, summary_format, post_user_id, creation_date,
        modified_date, site_network,content_id,content_type, source)
        values (#{type}, #{summary}, #{summaryFormat}, #{userId}, #{creationDate}, #{modifiedDate},
        #{siteNetwork},#{contentId},#{contentType},#{source})
    </insert>

    <update id="updateActivityFeed" parameterType="org.craftercms.studio.api.v1.dal.AuditFeed" flushCache="true">
        update audit set activity_type=#{type},
   	    summary=#{summary},
   	    modified_date=#{modifiedDate},
   	    content_type=#{contentType}
   	    where content_id = #{contentId} and post_user_id=#{userId} and site_network=#{siteNetwork}
    </update>

    <update id="renameContent" parameterType="java.util.Map" flushCache="true">
        update audit
        set content_id = #{newPath}
        where site_network = #{site}
        and content_id = #{oldPath}
    </update>

    <delete id="deleteActivitiesForSite" parameterType="java.util.Map" flushCache="true">
        DELETE FROM audit
        WHERE site_network = #{site}
    </delete>

    <select id="getAuditLogForSite" parameterType="java.util.Map" resultMap="AuditFeedMap">
        select *
        from audit
        where site_network = #{site}
        <if test="user != null and user != '' ">
            and post_user_id = #{user}
        </if>
        <if test="actions != null">
            and activity_type in
            <foreach item="action" index="index" collection="actions"
                     open="(" separator="," close=")">
                #{action}
            </foreach>
        </if>
        order by modified_date desc limit #{start},#{number}
    </select>

    <select id="getAuditLogForSiteTotal" parameterType="java.util.Map" resultType="long">
        select count(1)
        from audit
        where site_network = #{site}
        <if test="user != null and user != '' ">
            and post_user_id = #{user}
        </if>
        <if test="actions != null">
            and activity_type in
            <foreach item="action" index="index" collection="actions"
                     open="(" separator="," close=")">
                #{action}
            </foreach>
        </if>
    </select>
</mapper>