<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Crafter Studio Web-content authoring solution
  ~ Copyright (C) 2007-2014 Crafter Software Corporation.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.CopyToEnvironmentMapper">

    <resultMap id="CopyToEnvironmentMap" type="org.craftercms.studio.api.v1.dal.CopyToEnvironment">
        <id property="id" column="id"/>
        <result property="site" column="site"/>
        <result property="environment" column="environment"/>
        <result property="path" column="path"/>
        <result property="oldPath" column="oldpath"/>
        <result property="user" column="username"/>
        <result property="scheduledDate" column="scheduleddate"/>
        <result property="state" column="state"/>
        <result property="action" column="action"/>
        <result property="contentTypeClass" column="contenttypeclass"/>
        <result property="submissionComment" column="submissioncomment"/>
    </resultMap>

    <cache/>

    <select id="getScheduledItems" resultMap="CopyToEnvironmentMap" parameterType="java.util.Map">
        SELECT *
        FROM cstudio_copytoenvironment
        WHERE site = #{site}
        AND state = #{state}
        AND scheduleddate &gt; #{now}
        ORDER BY scheduleddate ASC
    </select>

    <select id="getItemsBySiteAndStates" resultMap="CopyToEnvironmentMap" parameterType="java.util.Map">
        SELECT *
        FROM cstudio_copytoenvironment
        WHERE site = #{site}
        AND state in
        <foreach item="state" index="index" collection="states"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
        AND scheduleddate &gt; #{now}
        ORDER BY scheduleddate ASC, id asc
    </select>

    <insert id="insertItemForDeployment" parameterType="org.craftercms.studio.api.v1.dal.CopyToEnvironment">
        INSERT INTO cstudio_copytoenvironment (site, environment, path, oldpath, username, scheduleddate, state, action, contenttypeclass, submissioncomment)
        values (#{site}, #{environment}, #{path}, #{oldPath}, #{user}, #{scheduledDate}, #{state}, #{action}, #{contentTypeClass}, #{submissionComment})
    </insert>

    <update id="cancelWorkflow" parameterType="java.util.Map">
        UPDATE cstudio_copytoenvironment
        SET state = #{canceledState}
        WHERE site = #{site}
        AND path = #{path}
        AND state = #{state}
        AND scheduleddate &gt; #{now}
    </update>

    <update id="cancelWorkflowBulk" parameterType="java.util.Map">
        UPDATE cstudio_copytoenvironment
        SET state = #{canceledState}
        WHERE site = #{site}
        AND state = #{state}
        AND scheduleddate &gt; #{now}
        AND path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
    </update>

    <update id="cancelDeployment" parameterType="java.util.Map">
        UPDATE cstudio_copytoenvironment
        SET state = #{canceledState}
        WHERE id = #{id}
        AND site = #{site}
        AND path = #{path}
    </update>

    <select id="getItemsReadyForDeployment" resultMap="CopyToEnvironmentMap">
        SELECT *
        FROM cstudio_copytoenvironment
        WHERE site = #{site}
        AND state = #{state}
        AND environment = #{environment}
        AND scheduleddate &lt;= #{now}
        ORDER BY scheduleddate ASC
    </select>

    <select id="checkIfItemWasPublished" resultType="java.lang.Integer">
        SELECT count(1) FROM cstudio_copytoenvironment
        WHERE site = #{site}
        AND path = #{path}
        AND state = #{state}
    </select>

    <select id="checkIfItemWasPublishedForEnvironment" resultType="java.lang.Integer">
        SELECT count(1) FROM cstudio_copytoenvironment
        WHERE site = #{site}
        AND environment = #{environment}
        AND path = #{path}
        AND state = #{state}
    </select>

    <update id="updateItemDeploymentState" parameterType="org.craftercms.studio.api.v1.dal.CopyToEnvironment">
        UPDATE cstudio_copytoenvironment
        SET state = #{state}
        WHERE id = #{id}
    </update>

    <delete id="deleteDeploymentDataForSite" parameterType="java.util.Map">
        DELETE FROM cstudio_copytoenvironment
        WHERE site = #{site}
    </delete>
</mapper>