<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Crafter Studio Web-content authoring solution
  ~ Copyright (C) 2007-2014 Crafter Software Corporation.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.DependencyMapper">

    <resultMap id="DependencyMap" type="org.craftercms.studio.api.v1.dal.DependencyEntity">
        <id property="id" column="id"/>
        <result property="site" column="site"/>
        <result property="sourcePath" column="source_path"/>
        <result property="targetPath" column="target_path"/>
        <result property="type" column="type"/>
    </resultMap>

    <cache/>

    <select id="getDependencies" resultMap="DependencyMap" parameterType="java.util.HashMap" databaseId="oracle">
        SELECT cd.site, cd.source_path, cd.target_path, cd.type
        FROM cstudio_DEPENDENCY cd
        WHERE cd.source_path = #{sourcePath} AND cd.site = #{site}
    </select>

    <select id="getDependencies" resultMap="DependencyMap" parameterType="java.util.HashMap">
        SELECT site, source_path, target_path, type
        FROM cstudio_DEPENDENCY
        WHERE source_path = #{sourcePath} AND site = #{site}
    </select>

    <select id="getDependant" resultMap="DependencyMap" parameterType="java.util.HashMap" databaseId="oracle">
        SELECT cd.site, cd.source_path, cd.target_path, cd.type
        FROM cstudio_DEPENDENCY cd
        WHERE cd.target_path = #{targetPath} AND cd.site = #{site}
    </select>

    <select id="getDependant" resultMap="DependencyMap" parameterType="java.util.HashMap">
        SELECT site, source_path, target_path, type
        FROM cstudio_DEPENDENCY
        WHERE target_path = #{targetPath} AND site = #{site}
    </select>

    <delete id="deleteAllSourceDependencies" parameterType="java.util.Map">
        DELETE
        FROM cstudio_DEPENDENCY
        WHERE source_path = #{path} AND site = #{site}
    </delete>

    <insert id="insertList" databaseId="oracle" parameterType="java.util.Map">
        INSERT ALL
        <foreach collection="dependencies" item="element" index="index">
            INTO cstudio_DEPENDENCY (site, source_path, target_path, type) VALUES ( #{element.site}, #{element.sourcePath}, #{element.targetPath}, #{element.type} )
        </foreach>
        SELECT * FROM dual
    </insert>

    <insert id="insertList" parameterType="java.util.Map">
        INSERT INTO cstudio_DEPENDENCY (site, source_path, target_path, type) VALUES
        <foreach collection="dependencies" item="element" index="index" separator="," >
            ( #{element.site}, #{element.sourcePath}, #{element.targetPath}, #{element.type} )
        </foreach>
    </insert>

    <select id="getDependenciesByType" parameterType="java.util.Map" resultMap="DependencyMap" databaseId="oracle">
        SELECT cd.site, cd.source_path, cd.target_path, cd.type
        FROM cstudio_DEPENDENCY cd
        WHERE cd.source_path = #{sourcePath} AND cd.site = #{site} AND cd.type = #{type}
    </select>

    <select id="getDependenciesByType" parameterType="java.util.Map" resultMap="DependencyMap">
        SELECT site, source_path, target_path, type
        FROM cstudio_DEPENDENCY
        WHERE source_path = #{sourcePath} AND site = #{site} AND type = #{type}
    </select>

    <delete id="deleteDependenciesForSite" parameterType="java.util.Map">
        DELETE FROM cstudio_DEPENDENCY
        WHERE site = #{site}
    </delete>

    <delete id="deleteDependenciesForSiteAndPath" parameterType="java.util.Map">
        DELETE FROM cstudio_DEPENDENCY
        WHERE site = #{site}
        AND (source_path = #{path} OR target_path = #{path})
    </delete>

    <select id="getDependenciesForList" parameterType="java.util.Map" resultType="String">
        SELECT target_path
        FROM cstudio_DEPENDENCY
        WHERE site = #{site}
        AND source_path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
    </select>

    <select id="getPublishingDependenciesForList" parameterType="java.util.Map" resultType="String">
        SELECT target_path
        FROM (cstudio_DEPENDENCY cd INNER JOIN cstudio_objectstate co ON cd.target_path = co.path AND cd.site = co.site)
        WHERE cd.site = #{site}
        AND cd.source_path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
        AND co.state IN
        <foreach item="state" index="index" collection="states"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
    </select>

    <select id="getItemsDependingOn" resultType="String" parameterType="java.util.Map">
        SELECT source_path
        FROM cstudio_DEPENDENCY
        WHERE site = #{site}
        AND target_path in
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
    </select>

    <select id="calculatePublishingDependenciesForList" parameterType="java.util.Map"
            resultType="java.util.Map" databaseId="oracle">
        SELECT cd1.source_path, cd1.target_path
        FROM (cstudio_DEPENDENCY cd1 INNER JOIN cstudio_objectstate co1 ON cd1.target_path = co1.path AND cd1.site = co1.site)
        WHERE cd1.site = #{site}
        AND cd1.source_path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
        AND co1.state IN
        <foreach item="state" index="index" collection="newStates"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
        UNION
        SELECT cd2.source_path, cd2.target_path
        FROM (cstudio_DEPENDENCY cd2 INNER JOIN cstudio_objectstate co2 ON cd2.target_path = co2.path AND cd2.site = co2.site)
        WHERE cd2.site = #{site}
        AND cd2.source_path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
        AND co2.state IN
        <foreach item="state" index="index" collection="editedStates"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
        AND
        <foreach item="pattern" index="index" collection="regex"
                 open="(" separator=" OR " close=")">
            REGEXP_LIKE(cd2.target_path, #{pattern})
        </foreach>
    </select>

    <select id="calculatePublishingDependenciesForList" parameterType="java.util.Map"
            resultType="java.util.Map" databaseId="postgres">
        SELECT cd1.source_path, cd1.target_path
        FROM (cstudio_DEPENDENCY cd1 INNER JOIN cstudio_objectstate co1 ON cd1.target_path = co1.path AND cd1.site = co1.site)
        WHERE cd1.site = #{site}
        AND cd1.source_path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
        AND co1.state IN
        <foreach item="state" index="index" collection="newStates"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
        UNION
        SELECT cd2.source_path, cd2.target_path
        FROM (cstudio_DEPENDENCY cd2 INNER JOIN cstudio_objectstate co2 ON cd2.target_path = co2.path AND cd2.site = co2.site)
        WHERE cd2.site = #{site}
        AND cd2.source_path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
        AND co2.state IN
        <foreach item="state" index="index" collection="editedStates"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
        AND
        <foreach item="pattern" index="index" collection="regex"
                 open="(" separator=" OR " close=")">
            cd2.target_path SIMILAR TO #{pattern}
        </foreach>
    </select>

    <select id="calculatePublishingDependenciesForList" parameterType="java.util.Map"
            resultType="java.util.Map">
        SELECT cd1.source_path, cd1.target_path
        FROM (cstudio_DEPENDENCY cd1 INNER JOIN cstudio_objectstate co1 ON cd1.target_path = co1.path AND cd1.site = co1.site)
        WHERE cd1.site = #{site}
        AND cd1.source_path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
        AND co1.state IN
        <foreach item="state" index="index" collection="newStates"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
        UNION
        SELECT cd2.source_path, cd2.target_path
        FROM (cstudio_DEPENDENCY cd2 INNER JOIN cstudio_objectstate co2 ON cd2.target_path = co2.path AND cd2.site = co2.site)
        WHERE cd2.site = #{site}
        AND cd2.source_path IN
        <foreach item="path" index="index" collection="paths"
                 open="(" separator="," close=")">
            #{path}
        </foreach>
        AND co2.state IN
        <foreach item="state" index="index" collection="editedStates"
                 open="(" separator="," close=")">
            #{state}
        </foreach>
        AND
        <foreach item="pattern" index="index" collection="regex"
                 open="(" separator=" OR " close=")">
            cd2.target_path RLIKE #{pattern}
        </foreach>
    </select>

    <update id="moveDependency" databaseId="oracle" parameterType="java.util.Map" >
        UPDATE cstudio_DEPENDENCY
        SET source_path = CASE WHEN source_path = #{oldPath} THEN #{newPath} ELSE TO_CHAR(source_path) END,
        target_path = CASE WHEN target_path = #{oldPath} THEN #{newPath} ELSE TO_CHAR(target_path) END
        WHERE site = #{siteId}
        AND (source_path = #{oldPath} OR target_path = #{oldPath})
    </update>

    <update id="moveDependency" parameterType="java.util.Map" >
        UPDATE cstudio_DEPENDENCY
        SET source_path = CASE WHEN source_path = #{oldPath} THEN #{newPath} ELSE source_path END,
            target_path = CASE WHEN target_path = #{oldPath} THEN #{newPath} ELSE target_path END
        WHERE site = #{siteId}
        AND (source_path = #{oldPath} OR target_path = #{oldPath})
    </update>

</mapper>