<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2007-2020 Crafter Software Corporation. All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License version 3 as published by
  ~ the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.ItemMetadataMapper">
    <resultMap id="ItemMetadataMap" type="org.craftercms.studio.api.v1.dal.ItemMetadata">
        <id property="id" column="id"/>
        <result property="site" column="site"/>
        <result property="path" column="path"/>
        <result property="name" column="name"/>
        <result property="lastModifiedDate" column="lastModifiedDate"/>
        <result property="modifier" column="modifier"/>
        <result property="owner" column="owner"/>
        <result property="creator" column="creator"/>
        <result property="firstName" column="firstname"/>
        <result property="lastName" column="lastname"/>
        <result property="lockOwner" column="lock_owner"/>
        <result property="email" column="email"/>
        <result property="renamed" column="renamed"/>
        <result property="oldUrl" column="oldurl"/>
        <result property="deleteUrl" column="deleteurl"/>
        <result property="imageWidth" column="imagewidth"/>
        <result property="imageHeight" column="imageheight"/>
        <result property="approvedBy" column="approvedby"/>
        <result property="submittedBy" column="submittedby"/>
        <result property="submittedForDeletion" column="submittedfordeletion"/>
        <result property="sendEmail" column="sendemail"/>
        <result property="commitId" column="commit_id"/>
        <result property="submittedToEnvironment" column="submittedtoenvironment" />
        <result property="label" column="label" />
        <result property="contentTypeId" column="content_type_id" />
        <result property="previewUrl" column="preview_url"/>
        <result property="systemType" column="system_type" />
        <result property="mimeType" column="mime_type" />
        <result property="state" column="state" />
        <result property="disabledAsInt" column="disabled" />
        <result property="localeCode" column="locale_code" />
        <result property="translationSourceId" column="translation_source_id" />
        <result property="createdDate" column="created_date" />
        <result property="sizeInBytes" column="size_in_bytes" />
        <result property="itemId" column="item_id" />
        <result property="parentId" column="parent_id" />
    </resultMap>

    <select id="getProperties" parameterType="java.util.Map" resultMap="ItemMetadataMap">
        SELECT * FROM item_metadata WHERE site=#{site} AND path=#{path}
    </select>

    <update id="setProperties" parameterType="java.util.Map">
        UPDATE item_metadata
        <trim prefix="SET" suffixOverrides=",">
            <if test="newPath != null">path=#{newPath},</if>
            <if test="name != null">name=#{name},</if>
            <if test="lastModifiedDate != null">last_modified_date=#{lastModifiedDate},</if>
            <if test="modifier != null">modifier=#{modifier},</if>
            <if test="owner != null">owner=#{owner},</if>
            <if test="creator != null">creator=#{creator},</if>
            <if test="firstName != null">firstname=#{firstName},</if>
            <if test="lastName != null">lastname=#{lastName},</if>
            <if test="lockOwner != null">lock_owner=#{lockOwner},</if>
            <if test="email != null">email=#{email},</if>
            <if test="renamed != null">renamed=#{renamed},</if>
            <if test="oldUrl != null">oldurl=#{oldUrl},</if>
            <if test="deleteUrl != null">deleteurl=#{deleteUrl},</if>
            <if test="imageWidth != null">imagewidth=#{imageWidth},</if>
            <if test="imageHeight != null">imageheight=#{imageHeight},</if>
            <if test="approvedBy != null">approvedby=#{approvedBy},</if>
            <if test="submittedBy != null">submittedby=#{submittedBy},</if>
            <if test="submittedForDeletion != null">submittedfordeletion=#{submittedForDeletion},</if>
            <if test="sendEmail != null">sendemail=#{sendEmail},</if>
            <if test="submissionComment != null">submissioncomment=#{submissionComment},</if>
            <if test="launchDate != null">launchdate=#{launchDate},</if>
            <if test="commitId != null">commit_id=#{commitId},</if>
            <if test="submittedToEnvironment != null">submittedtoenvironment=#{submittedToEnvironment},</if>

            <if test="label != null">label=#{label},</if>
            <if test="contentTypeId != null">content_type_id=#{contentTypeId},</if>
            <if test="previewUrl != null">preview_url=#{previewUrl},</if>
            <if test="systemType != null">system_type=#{systemType},</if>
            <if test="mimeType != null">mime_type=#{mimeType},</if>
            <if test="state != null">state=#{state},</if>
            <if test="disabledAsInt != null">disabled=#{disabledAsInt},</if>
            <if test="localeCode != null">locale_code=#{localeCode},</if>
            <if test="translationSourceId != null">translation_source_id=#{translationSourceId},</if>
            <if test="createdDate != null">created_date=#{createdDate},</if>
            <if test="sizeInBytes != null">size_in_bytes=#{sizeInBytes},</if>
            <if test="itemId != null">item_id=#{itemId},</if>
            <if test="parentId != null">parent_id=#{parentId}</if>
        </trim>
        WHERE site=#{site}
        AND path=#{path}
    </update>

    <update id="setPropertiesForCommit" parameterType="java.util.Map">
        UPDATE item_metadata
        <trim prefix="SET" suffixOverrides=",">
            <if test="newPath != null">path=#{newPath},</if>
            <if test="name != null">name=#{name},</if>
            <if test="lastModifiedDate != null">last_modified_date=#{lastModifiedDate},</if>
            <if test="modifier != null">modifier=#{modifier},</if>
            <if test="owner != null">owner=#{owner},</if>
            <if test="creator != null">creator=#{creator},</if>
            <if test="firstName != null">firstname=#{firstName},</if>
            <if test="lastName != null">lastname=#{lastName},</if>
            <if test="lockOwner != null">lock_owner=#{lockOwner},</if>
            <if test="email != null">email=#{email},</if>
            <if test="renamed != null">renamed=#{renamed},</if>
            <if test="oldUrl != null">oldurl=#{oldUrl},</if>
            <if test="deleteUrl != null">deleteurl=#{deleteUrl},</if>
            <if test="imageWidth != null">imagewidth=#{imageWidth},</if>
            <if test="imageHeight != null">imageheight=#{imageHeight},</if>
            <if test="approvedBy != null">approvedby=#{approvedBy},</if>
            <if test="submittedBy != null">submittedby=#{submittedBy},</if>
            <if test="submittedForDeletion != null">submittedfordeletion=#{submittedForDeletion},</if>
            <if test="sendEmail != null">sendemail=#{sendEmail},</if>
            <if test="submissionComment != null">submissioncomment=#{submissionComment},</if>
            <if test="launchDate != null">launchdate=#{launchDate},</if>
            <if test="commitId != null">commit_id=#{commitId},</if>
            <if test="submittedToEnvironment != null">submittedtoenvironment=#{submittedToEnvironment},</if>

            <if test="label != null">label=#{label},</if>
            <if test="contentTypeId != null">content_type_id=#{contentTypeId},</if>
            <if test="previewUrl != null">preview_url=#{previewUrl},</if>
            <if test="systemType != null">system_type=#{systemType},</if>
            <if test="mimeType != null">mime_type=#{mimeType},</if>
            <if test="state != null">state=#{state},</if>
            <if test="disabledAsInt != null">disabled=#{disabledAsInt},</if>
            <if test="localeCode != null">locale_code=#{localeCode},</if>
            <if test="translationSourceId != null">translation_source_id=#{translationSourceId},</if>
            <if test="createdDate != null">created_date=#{createdDate},</if>
            <if test="sizeInBytes != null">size_in_bytes=#{sizeInBytes},</if>
            <if test="itemId != null">item_id=#{itemId},</if>
            <if test="parentId != null">parent_id=#{parent_id}</if>
        </trim>
        WHERE site=#{site}
        AND commit_id=#{commitId}
    </update>

    <update id="updateObjectMetadata" parameterType="org.craftercms.studio.api.v1.dal.ItemMetadata">
        UPDATE item_metadata
        SET
            path=path,
            name=#{name},
            last_modified_date=#{lastModifiedDate},
            modifier=#{modifier},
            owner=#{owner},
            creator=#{creator},
            firstname=#{firstName},
            lastname=#{lastName},
            lock_owner=#{lockOwner},
            email=#{email},
            renamed=#{renamed},
            oldurl=#{oldUrl},
            deleteurl=#{deleteUrl},
            imagewidth=#{imageWidth},
            imageheight=#{imageHeight},
            approvedby=#{approvedBy},
            submittedby=#{submittedBy},
            submittedfordeletion=#{submittedForDeletion},
            sendemail=#{sendEmail},
            submissioncomment=#{submissionComment},
            launchdate=#{launchDate},
            commit_id=#{commitId},
            submittedtoenvironment=#{submittedToEnvironment},
            label=#{label},
            content_type_id=#{contentTypeId},
            preview_url=#{previewUrl},
            system_type=#{systemType},
            mime_type=#{mimeType},
            state=#{state},
            disabled=#{disabledAsInt},
            locale_code=#{localeCode},
            translation_source_id=#{translationSourceId},
            created_date=#{createdDate},
            size_in_bytes=#{sizeInBytes},
            item_id=#{itemId},
            parent_id=#{parentId}
        WHERE id = #{id}
    </update>

    <update id="setLockOwner" parameterType="java.util.Map">
        UPDATE item_metadata SET
        lock_owner=#{lockOwner}
        WHERE site=#{site}
        AND path=#{path}
    </update>

    <insert id="insertEntry" parameterType="java.util.Map" flushCache="true">
        INSERT INTO item_metadata (site, path) VALUES (#{site}, #{path})
    </insert>

    <select id="countEntries" resultType="int" parameterType="java.util.Map">
        SELECT count(1) FROM item_metadata WHERE site=#{site} AND path=#{path}
    </select>

    <select id="countAllItems" resultType="int">
        SELECT count(1) FROM item_metadata;
    </select>

    <delete id="deleteEntry" parameterType="java.util.Map">
        DELETE FROM item_metadata WHERE site=#{site} AND path=#{path}
    </delete>

    <delete id="deleteFolder" parameterType="java.util.Map">
        DELETE FROM item_metadata WHERE site=#{site} AND path like #{path}
    </delete>

    <delete id="deleteObjectMetadataForSite" parameterType="java.util.Map">
        DELETE FROM item_metadata
        WHERE site = #{site}
    </delete>

    <update id="updateObjectPath" parameterType="java.util.Map">
        UPDATE item_metadata
        SET path = #{newPath}
        WHERE site = #{site}
        AND path = #{oldPath}
    </update>

    <update id="updateCommitId" parameterType="java.util.Map">
        UPDATE item_metadata
        SET commit_id = #{commitId}
        WHERE site = #{site}
        AND path = #{path}
    </update>

    <select id="movedPathExists" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(1) FROM item_metadata
        WHERE site = #{siteId}
        AND renamed = 1
        AND oldurl = #{path}
    </select>

    <select id="getSameCommitItems" parameterType="java.util.Map" resultType="String">
        SELECT im1.path
        FROM item_metadata im1
        INNER JOIN item_metadata im2 ON im1.commit_id = im2.commit_id
        WHERE im2.site=#{siteId} AND im2.path=#{path} AND im1.path NOT LIKE '${blobFilePattern}'
    </select>

    <select id="getContentDashboardTotal" parameterType="java.util.Map" resultType="int">
        select count (1) from item_metadata where site=#{siteId}
        <if test="path != null">
            AND path = #{path}
        </if>
        <if test="modifier != null">
            AND modifier = #{modifier}
        </if>
        <choose>
            <when test="dateFrom != null and dateTo != null ">
                AND last_modified_date BETWEEN #{dateFrom} AND #{dateTo}
            </when>
            <when test="dateFrom != null and dateTo == null ">
                AND last_modified_date >= #{dateFrom}
            </when>
            <when test="dateFrom == null and dateTo != null ">
                AND #{dateTo} >= last_modified_date
            </when>
        </choose>
    </select>

    <select id="getContentDashboard" parameterType="java.util.Map"
            resultType="org.craftercms.studio.api.v1.dal.ItemMetadata">
        select * from item_metadata where site=#{siteId}
        <if test="path != null">
            AND path RLIKE #{path}
        </if>
        <if test="modifier != null">
            AND modifier = #{modifier}
        </if>
        <choose>
            <when test="dateFrom != null and dateTo != null ">
                AND last_modified_date BETWEEN #{dateFrom} AND #{dateTo}
            </when>
            <when test="dateFrom != null and dateTo == null ">
                AND last_modified_date >= #{dateFrom}
            </when>
            <when test="dateFrom == null and dateTo != null ">
                AND #{dateTo} >= last_modified_date
            </when>
        </choose>
        <choose>
            <when test="(sort != null and sort !=  '') and (order != null and order != '')">
                ORDER BY ${sort} ${order}
            </when>
            <when test="(sort != null and sort !=  '') and (order == null or order == '')">
                ORDER BY ${sort}
            </when>
            <when test="(sort == null or sort !=  '') and (order != null and order != '')">
                ORDER BY last_modified_date ${order}
            </when>
            <otherwise>
                ORDER BY last_modified_date DESC
            </otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>
</mapper>