<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2007-2020 Crafter Software Corporation. All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License version 3 as published by
  ~ the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.ItemMetadataMapper">
    <resultMap id="ItemMetadataMap" type="org.craftercms.studio.api.v1.dal.ItemMetadata">
        <id property="id" column="id"/>
        <result property="site" column="site"/>
        <result property="path" column="path"/>
        <result property="name" column="name"/>
        <result property="modified" column="modified"/>
        <result property="modifier" column="modifier"/>
        <result property="owner" column="owner"/>
        <result property="creator" column="creator"/>
        <result property="firstName" column="firstname"/>
        <result property="lastName" column="lastname"/>
        <result property="lockOwner" column="lockowner"/>
        <result property="email" column="email"/>
        <result property="renamed" column="renamed"/>
        <result property="oldUrl" column="oldurl"/>
        <result property="deleteUrl" column="deleteurl"/>
        <result property="imageWidth" column="imagewidth"/>
        <result property="imageHeight" column="imageheight"/>
        <result property="approvedBy" column="approvedby"/>
        <result property="submittedBy" column="submittedby"/>
        <result property="submittedForDeletion" column="submittedfordeletion"/>
        <result property="sendEmail" column="sendemail"/>
        <result property="commitId" column="commit_id"/>
        <result property="submittedToEnvironment" column="submittedtoenvironment" />
    </resultMap>

    <select id="getProperties" parameterType="java.util.Map" resultMap="ItemMetadataMap">
        SELECT * FROM item_metadata WHERE site=#{site} AND path=#{path}
    </select>

    <update id="setProperties" parameterType="java.util.Map">
        UPDATE item_metadata
        <trim prefix="SET" suffixOverrides=",">
            <if test="newPath != null">path=#{newPath},</if>
            <if test="name != null">name=#{name},</if>
            <if test="modified != null">modified=#{modified},</if>
            <if test="modifier != null">modifier=#{modifier},</if>
            <if test="owner != null">owner=#{owner},</if>
            <if test="creator != null">creator=#{creator},</if>
            <if test="firstName != null">firstname=#{firstName},</if>
            <if test="lastName != null">lastname=#{lastName},</if>
            <if test="lockOwner != null">lockowner=#{lockOwner},</if>
            <if test="email != null">email=#{email},</if>
            <if test="renamed != null">renamed=#{renamed},</if>
            <if test="oldUrl != null">oldurl=#{oldUrl},</if>
            <if test="deleteUrl != null">deleteurl=#{deleteUrl},</if>
            <if test="imageWidth != null">imagewidth=#{imageWidth},</if>
            <if test="imageHeight != null">imageheight=#{imageHeight},</if>
            <if test="approvedBy != null">approvedby=#{approvedBy},</if>
            <if test="submittedBy != null">submittedby=#{submittedBy},</if>
            <if test="submittedForDeletion != null">submittedfordeletion=#{submittedForDeletion},</if>
            <if test="sendEmail != null">sendemail=#{sendEmail},</if>
            <if test="submissionComment != null">submissioncomment=#{submissionComment},</if>
            <if test="launchDate != null">launchdate=#{launchDate},</if>
            <if test="commitId != null">commit_id=#{commitId},</if>
            <if test="submittedToEnvironment != null">submittedtoenvironment=#{submittedToEnvironment}</if>
        </trim>
        WHERE site=#{site}
        AND path=#{path}
    </update>

    <update id="setPropertiesForCommit" parameterType="java.util.Map">
        UPDATE item_metadata
        <trim prefix="SET" suffixOverrides=",">
            <if test="newPath != null">path=#{newPath},</if>
            <if test="name != null">name=#{name},</if>
            <if test="modified != null">modified=#{modified},</if>
            <if test="modifier != null">modifier=#{modifier},</if>
            <if test="owner != null">owner=#{owner},</if>
            <if test="creator != null">creator=#{creator},</if>
            <if test="firstName != null">firstname=#{firstName},</if>
            <if test="lastName != null">lastname=#{lastName},</if>
            <if test="lockOwner != null">lockowner=#{lockOwner},</if>
            <if test="email != null">email=#{email},</if>
            <if test="renamed != null">renamed=#{renamed},</if>
            <if test="oldUrl != null">oldurl=#{oldUrl},</if>
            <if test="deleteUrl != null">deleteurl=#{deleteUrl},</if>
            <if test="imageWidth != null">imagewidth=#{imageWidth},</if>
            <if test="imageHeight != null">imageheight=#{imageHeight},</if>
            <if test="approvedBy != null">approvedby=#{approvedBy},</if>
            <if test="submittedBy != null">submittedby=#{submittedBy},</if>
            <if test="submittedForDeletion != null">submittedfordeletion=#{submittedForDeletion},</if>
            <if test="sendEmail != null">sendemail=#{sendEmail},</if>
            <if test="submissionComment != null">submissioncomment=#{submissionComment},</if>
            <if test="launchDate != null">launchdate=#{launchDate},</if>
            <if test="commitId != null">commit_id=#{commitId},</if>
            <if test="submittedToEnvironment != null">submittedtoenvironment=#{submittedToEnvironment}</if>
        </trim>
        WHERE site=#{site}
        AND commit_id=#{commitId}
    </update>

    <update id="updateObjectMetadata" parameterType="org.craftercms.studio.api.v1.dal.ItemMetadata">
        UPDATE item_metadata
        SET
            path=path,
            name=#{name},
            modified=#{modified},
            modifier=#{modifier},
            owner=#{owner},
            creator=#{creator},
            firstname=#{firstName},
            lastname=#{lastName},
            lockowner=#{lockOwner},
            email=#{email},
            renamed=#{renamed},
            oldurl=#{oldUrl},
            deleteurl=#{deleteUrl},
            imagewidth=#{imageWidth},
            imageheight=#{imageHeight},
            approvedby=#{approvedBy},
            submittedby=#{submittedBy},
            submittedfordeletion=#{submittedForDeletion},
            sendemail=#{sendEmail},
            submissioncomment=#{submissionComment},
            launchdate=#{launchDate},
            commit_id=#{commitId},
            submittedtoenvironment=#{submittedToEnvironment}
        WHERE id = #{id}
    </update>

    <update id="setLockOwner" parameterType="java.util.Map">
        UPDATE item_metadata SET
        lockowner=#{lockOwner}
        WHERE site=#{site}
        AND path=#{path}
    </update>

    <insert id="insertEntry" parameterType="java.util.Map" flushCache="true">
        INSERT INTO item_metadata (site, path) VALUES (#{site}, #{path})
    </insert>

    <select id="countEntries" resultType="int" parameterType="java.util.Map">
        SELECT count(1) FROM item_metadata WHERE site=#{site} AND path=#{path}
    </select>

    <select id="countAllItems" resultType="int">
        SELECT count(1) FROM item_metadata;
    </select>

    <delete id="deleteEntry" parameterType="java.util.Map">
        DELETE FROM item_metadata WHERE site=#{site} AND path = BINARY #{path}
    </delete>

    <delete id="deleteFolder" parameterType="java.util.Map">
        DELETE FROM item_metadata WHERE site=#{site} AND path like #{path}
    </delete>

    <delete id="deleteObjectMetadataForSite" parameterType="java.util.Map">
        DELETE FROM item_metadata
        WHERE site = #{site}
    </delete>

    <update id="updateObjectPath" parameterType="java.util.Map">
        UPDATE item_metadata
        SET path = #{newPath}
        WHERE site = #{site}
        AND path = #{oldPath}
    </update>

    <update id="updateCommitId" parameterType="java.util.Map">
        UPDATE item_metadata
        SET commit_id = #{commitId}
        WHERE site = #{site}
        AND path = #{path}
    </update>

    <select id="movedPathExists" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(1) FROM item_metadata
        WHERE site = #{siteId}
        AND renamed = 1
        AND oldurl = #{path}
    </select>

    <select id="getSameCommitItems" parameterType="java.util.Map" resultType="String">
        SELECT im1.path
        FROM item_metadata im1
        INNER JOIN item_metadata im2 ON im1.commit_id = im2.commit_id
        WHERE im2.site=#{siteId} AND im2.path=#{path} AND im1.path NOT LIKE '${blobFilePattern}'
    </select>

    <select id="getContentDashboardTotal" parameterType="java.util.Map" resultType="int">
        select count (1) from item_metadata where site=#{siteId}
        <if test="path != null">
            AND path = #{path}
        </if>
        <if test="modifier != null">
            AND modifier = #{modifier}
        </if>
        <choose>
            <when test="dateFrom != null and dateTo != null ">
                AND modified BETWEEN #{dateFrom} AND #{dateTo}
            </when>
            <when test="dateFrom != null and dateTo == null ">
                AND modified >= #{dateFrom}
            </when>
            <when test="dateFrom == null and dateTo != null ">
                AND #{dateTo} >= modified
            </when>
        </choose>
    </select>

    <select id="getContentDashboard" parameterType="java.util.Map"
            resultType="org.craftercms.studio.api.v1.dal.ItemMetadata">
        select * from item_metadata where site=#{siteId}
        <if test="path != null">
            AND path RLIKE #{path}
        </if>
        <if test="modifier != null">
            AND modifier = #{modifier}
        </if>
        <choose>
            <when test="dateFrom != null and dateTo != null ">
                AND modified BETWEEN #{dateFrom} AND #{dateTo}
            </when>
            <when test="dateFrom != null and dateTo == null ">
                AND modified >= #{dateFrom}
            </when>
            <when test="dateFrom == null and dateTo != null ">
                AND #{dateTo} >= modified
            </when>
        </choose>
        <choose>
            <when test="(sort != null and sort !=  '') and (order != null and order != '')">
                ORDER BY ${sort} ${order}
            </when>
            <when test="(sort != null and sort !=  '') and (order == null or order == '')">
                ORDER BY ${sort}
            </when>
            <when test="(sort == null or sort !=  '') and (order != null and order != '')">
                ORDER BY modified ${order}
            </when>
            <otherwise>
                ORDER BY modified DESC
            </otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>
</mapper>