<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2007-2022 Crafter Software Corporation. All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License version 3 as published by
  ~ the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.NavigationOrderSequenceMapper">
    <resultMap id="NavigationOrderSequenceMap" type="org.craftercms.studio.api.v1.dal.NavigationOrderSequence">
        <id property="folderId" column="folder_id"/>
        <result property="site" column="site"/>
        <result property="path" column="path"/>
        <result property="maxCount" column="max_count"/>
    </resultMap>

    <select id="getPageNavigationOrderForSiteAndPath" parameterType="java.util.HashMap"
            resultMap="NavigationOrderSequenceMap">
        SELECT folder_id, site, path, max_count
        FROM navigation_order_sequence
        WHERE site = #{site} AND path = #{path}
    </select>

    <insert id="insert" parameterType="org.craftercms.studio.api.v1.dal.NavigationOrderSequence">
        INSERT INTO
        navigation_order_sequence
        (folder_id, site, path, max_count)
        VALUES
        (#{folderId}, #{site}, #{path}, #{maxCount})
    </insert>

    <update id="update" parameterType="org.craftercms.studio.api.v1.dal.NavigationOrderSequence">
        UPDATE
        navigation_order_sequence
        SET site= #{site}, path = #{path}, max_count = #{maxCount}
        WHERE folder_id = #{folderId}
    </update>

    <delete id="deleteSequencesForSite" parameterType="java.util.Map">
        DELETE FROM
        navigation_order_sequence
        WHERE site = #{site}
    </delete>
</mapper>