<!--
  ~ Crafter Studio Web-content authoring solution
  ~ Copyright (C) 2007-2015 Crafter Software Corporation.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.PublishToTargetMapper">

    <resultMap id="PublishToTargetMap" type="org.craftercms.studio.api.v1.dal.PublishToTarget">
        <id property="id" column="id"/>
        <result property="site" column="site"/>
        <result property="environment" column="environment" />
        <result property="path" column="path"/>
        <result property="oldPath" column="oldpath"/>
        <result property="username" column="username"/>
        <result property="version" column="version"/>
        <result property="action" column="action"/>
        <result property="contentTypeClass" column="contenttypeclass"/>
    </resultMap>

    <cache />

    <insert id="insertItemForTargetSync" parameterType="org.craftercms.studio.api.v1.dal.PublishToTarget">
        INSERT INTO cstudio_publishtotarget (site, environment, path, oldpath, username, version, action, contenttypeclass)
        values (#{site}, #{environment}, #{path}, #{oldPath}, #{username}, #{version}, #{action}, #{contentTypeClass})
    </insert>

    <select id="getItemsReadyForTargetSync" resultMap="PublishToTargetMap">
        SELECT *
        FROM cstudio_publishtotarget
        WHERE site = #{site}
        AND environment IN
        <foreach item="environment" index="index" collection="environments"
                 open="(" separator="," close=")">
            #{environment}
        </foreach>
        AND version = (
        SELECT min(version) FROM cstudio_publishtotarget
        WHERE site = #{site}
        AND environment IN
        <foreach item="environment" index="index" collection="environments"
                 open="(" separator="," close=")">
            #{environment}
        </foreach>
        AND version &gt; #{version}
        )
    </select>

    <delete id="deleteDeploymentDataForSite" parameterType="java.util.Map">
        DELETE FROM cstudio_publishtotarget
        WHERE site = #{site}
    </delete>

</mapper>