<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Crafter Studio Web-content authoring solution
  ~ Copyright (C) 2007-2016 Crafter Software Corporation.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.SecurityMapper">

    <resultMap id="UserMap" type="org.craftercms.studio.api.v1.dal.User">
        <id property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="firstname" column="firstname"/>
        <result property="lastname" column="lastname" />
        <result property="email" column="email" />
        <result property="active" column="enabled" />
    </resultMap>

    <resultMap id="UserProfileResultMap" type="org.craftercms.studio.api.v1.dal.UserProfileResult">
        <id property="username" column="username"/>
        <result property="firstName" column="firstname"/>
        <result property="lastName" column="lastname" />
        <result property="email" column="email" />
        <result property="groupName" column="groupname" />
        <result property="siteId" column="siteid"/>
        <result property="siteName" column="siteName" />
    </resultMap>

    <select id="getUser" resultMap="UserMap">
        SELECT * FROM cstudio_user WHERE username = #{username}
    </select>

    <select id="getUserDetails" resultMap="UserProfileResultMap">
        SELECT cu.username as username, cu.firstname as firstname, cu.lastname as lastname, cu.email as email, cg.name as groupname, cs.site_id as siteid, cs.name as sitename from
          cstudio_user cu INNER JOIN cstudio_usergroup cug on cu.username = cug.username
          INNER JOIN cstudio_group cg on cug.groupId = cg.id
          INNER JOIN cstudio_site cs on cg.site_id=cs.id
        WHERE cu.username = #{username}
    </select>

    <select id="getAllUsers" resultMap="UserProfileResultMap">
        SELECT cu.username as username, cu.firstname as firstname, cu.lastname as lastname, cu.email as email, cg.name as groupname, cs.site_id as siteid, cs.name as sitename from
        cstudio_user cu INNER JOIN cstudio_usergroup cug on cu.username = cug.username
        INNER JOIN cstudio_group cg on cug.groupId = cg.id
        INNER JOIN cstudio_site cs on cg.site_id=cs.id
    </select>

    <select id="getUsersPerSite" resultMap="UserProfileResultMap">
        SELECT cu.username as username, cu.firstname as firstname, cu.lastname as lastname, cu.email as email, cg.name as groupname, cs.site_id as siteid, cs.name as sitename from
        cstudio_user cu INNER JOIN cstudio_usergroup cug on cu.username = cug.username
        INNER JOIN cstudio_group cg on cug.groupId = cg.id
        INNER JOIN cstudio_site cs on cg.site_id=cs.id
        WHERE cs.site_id = #{site}
    </select>

    <select id="getUserGroups" resultType="Group">
        SELECT cstudio_group.* FROM
        ((cstudio_user INNER JOIN cstudio_usergroup ON cstudio_user.username = cstudio_usergroup.username)
        INNER JOIN cstudio_group ON cstudio_usergroup.groupid = cstudio_group.id)
        WHERE cstudio_user.username = #{username}
    </select>

    <insert id="createUser" parameterType="java.util.Map">
        INSERT INTO cstudio_user (username, password, firstname, lastname, email, enabled)
        VALUES (#{username}, #{password}, #{firstname}, #{lastname}, #{email}, 1)
    </insert>

    <delete id="deleteUser" parameterType="java.util.Map">
        DELETE FROM cstudio_user WHERE username = #{username}
    </delete>

    <update id="updateUser" parameterType="java.util.Map">
        UPDATE cstudio_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="firstname != null">firstname = #{firstname},</if>
            <if test="lastname != null">lastname = #{lastname},</if>
            <if test="email != null">email = #{email}</if>
        </trim>
        WHERE username = #{username}
    </update>

    <update id="enableUser" parameterType="java.util.Map">
        UPDATE cstudio_user
        SET enabled = #{enabled}
        WHERE username = #{username}
    </update>

    <insert id="createGroup" parameterType="java.util.Map">
        INSERT INTO cstudio_group (name, description, site_id)
        VALUES (#{name}, #{description}, #{siteId})
    </insert>
</mapper>