<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2007-2022 Crafter Software Corporation. All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License version 3 as published by
  ~ the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.craftercms.studio.api.v1.dal.SiteFeedMapper">

    <resultMap id="SiteFeedMap" type="org.craftercms.studio.api.v1.dal.SiteFeed">
        <id property="id" column="id" />
        <result property="siteUuid" column="site_uuid"/>
        <result property="siteId" column="site_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="deleted" column="deleted" javaType="Integer" jdbcType="INTEGER"/>
        <result property="lastCommitId" column="last_commit_id" jdbcType="VARCHAR" javaType="String"/>
        <result property="publishingEnabled" column="publishing_enabled" javaType="Integer" jdbcType="INTEGER"/>
        <result property="publishingStatus" column="publishing_status" jdbcType="VARCHAR" javaType="String"/>
        <result property="lastVerifiedGitlogCommitId" column="last_verified_gitlog_commit_id" jdbcType="VARCHAR" javaType="String"/>
        <result property="sandboxBranch" column="sandbox_branch"/>
        <result property="publishedRepoCreated" column="published_repo_created" javaType="Integer" jdbcType="INTEGER" />
        <result property="publishingLockOwner" column="publishing_lock_owner" />
        <result property="publishingLockHeartbeat" column="publishing_lock_heartbeat" />
        <result property="state" column="state" />
        <result property="lastSyncedGitlogCommitId" column="last_synced_gitlog_commit_id" jdbcType="VARCHAR"
                javaType="String"/>
    </resultMap>

    <resultMap id="PublishStatusMap" type="org.craftercms.studio.api.v2.dal.PublishStatus">
        <id property="id" column="id" />
        <result property="enabledAsInt" column="publishing_enabled" />
        <result property="status" column="publishing_status" />
        <result property="lockOwner" column="publishing_lock_owner" />
        <result property="lockTTL" column="publishing_lock_heartbeat" />
    </resultMap>

    <parameterMap id="SiteFeedMapParams" type="org.craftercms.studio.api.v1.dal.SiteFeed">
        <parameter property="id" jdbcType="BIGINT" />
        <parameter property="siteUuid" jdbcType="VARCHAR"/>
        <parameter property="siteId" jdbcType="VARCHAR"/>
        <parameter property="name" jdbcType="VARCHAR"/>
        <parameter property="description" jdbcType="VARCHAR"/>
        <parameter property="deleted" jdbcType="INTEGER"/>
        <parameter property="lastCommitId" jdbcType="VARCHAR"/>
        <parameter property="publishingEnabled" jdbcType="INTEGER"/>
        <parameter property="lastVerifiedGitlogCommitId" jdbcType="VARCHAR" />
        <parameter property="lastSyncedGitlogCommitId" jdbcType="VARCHAR" />
        <parameter property="sandboxBranch" jdbcType="VARCHAR"/>
        <parameter property="publishedRepoCreated" jdbcType="INTEGER" />
        <parameter property="publishingLockOwner" jdbcType="VARCHAR" />
        <parameter property="publishingLockHeartbeat" jdbcType="TIMESTAMP" />
        <parameter property="state" jdbcType="VARCHAR" />
    </parameterMap>

    <select id="getSites" resultMap="SiteFeedMap">
        SELECT * FROM site WHERE system = 0 AND deleted = 0
    </select>

    <select id="countSites" resultType="int">
        SELECT count(1) FROM site WHERE NOT site_id = 'studio_root' AND deleted = 0
    </select>

    <select id="getSite" resultMap="SiteFeedMap" parameterType="java.util.Map">
        SELECT * FROM site WHERE site_id = #{siteId} and deleted = 0
    </select>

    <insert id="createSite" parameterType="org.craftercms.studio.api.v1.dal.SiteFeed" flushCache="true">
        insert into site (site_uuid, site_id, name, description, deleted, last_commit_id,
                          publishing_status, sandbox_branch)
        values (#{siteUuid}, #{siteId}, #{name}, #{description}, #{deleted}, #{lastCommitId},
                #{publishingStatus}, #{sandboxBranch})
    </insert>

    <update id="deleteSite">
        UPDATE site SET state = #{state}, deleted = 1 WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <update id="updateLastCommitId" parameterType="java.util.Map">
        UPDATE site SET last_commit_id = #{lastCommitId} WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <select id="getLastCommitId" resultType="java.lang.String">
        SELECT s.last_commit_id
        FROM site s
        WHERE s.site_id = #{siteId} AND s.deleted = 0
    </select>

    <select id="getLastVerifiedGitlogCommitId" resultType="java.lang.String">
        SELECT s.last_verified_gitlog_commit_id
        FROM site s
        WHERE s.site_id = #{siteId} AND s.deleted = 0
    </select>

    <select id="getLastSyncedGitlogCommitId" resultType="java.lang.String">
        SELECT s.last_synced_gitlog_commit_id
        FROM site s
        WHERE s.site_id = #{siteId} AND s.deleted = 0
    </select>

    <select id="exists" parameterType="java.lang.String" resultType="int">
        SELECT count(1) FROM site WHERE site_id = #{siteId} AND deleted = 0
    </select>

    <select id="existsById" parameterType="java.lang.String" resultType="int">
        SELECT count(1) FROM site WHERE id = #{id} AND deleted = 0
    </select>

    <select id="existsByName" parameterType="java.lang.String" resultType="int">
        SELECT count(1) FROM site WHERE name = #{name} AND deleted = 0
    </select>

    <select id="isNameUsed" resultType="boolean">
        SELECT count(1) FROM site WHERE name = #{name} AND site_id != #{siteId} AND deleted = 0
    </select>

    <select id="getSitesPerUserQuery" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT DISTINCT cs.site_id as siteid
        FROM site cs
        WHERE cs.system = 0
          AND cs.deleted = 0
        ORDER BY cs.site_id
        LIMIT #{start}, #{number}
    </select>

    <select id="getSitesPerUserQueryTotal" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(DISTINCT cs.site_id)
        FROM site cs
        WHERE cs.system = 0
          AND deleted = 0
        ORDER BY cs.site_id
    </select>

    <select id="getSitesPerUserData" resultMap="SiteFeedMap" parameterType="java.util.Map">
        SELECT *
        FROM site cs
        WHERE site_id IN
        <foreach item="siteid" index="index" collection="siteids"
                 open="(" separator="," close=")">
            #{siteid}
        </foreach>
        AND system = 0
        AND deleted = 0
        ORDER BY site_id
    </select>

    <update id="enablePublishing" parameterType="java.util.Map">
        UPDATE site SET publishing_enabled = #{enabled} WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <update id="updatePublishingStatus" parameterType="java.util.Map">
        UPDATE site SET publishing_status = #{publishingStatus}
        WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <update id="updateLastVerifiedGitlogCommitId" parameterType="java.util.Map">
        UPDATE site SET last_verified_gitlog_commit_id = #{commitId} WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <update id="updateLastSyncedGitlogCommitId" parameterType="java.util.Map">
        UPDATE site SET last_synced_gitlog_commit_id = #{commitId} WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <select id="getDeletedSites" resultMap="SiteFeedMap">
        SELECT * FROM site WHERE deleted = 1 AND system = 0
    </select>

    <update id="setPublishedRepoCreated">
        UPDATE site SET published_repo_created = 1 WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <select id="tryLockPublishingForSite" statementType="CALLABLE" resultType="int">
        call tryLockPublishingForSite(#{siteId}, #{lockOwnerId}, #{ttl},#{locked, jdbcType=INTEGER,mode=OUT,javaType=Integer})
    </select>

    <update id="unlockPublishingForSite">
        UPDATE site SET publishing_lock_owner = NULL, publishing_lock_heartbeat = NULL
        WHERE site_id = #{siteId} AND deleted = 0 AND publishing_lock_owner = #{lockOwnerId}
    </update>

    <update id="updatePublishingLockHeartbeatForSite">
        UPDATE site SET publishing_lock_heartbeat = CURRENT_TIMESTAMP
        WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <update id="updateSite">
        UPDATE site
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description}</if>
        </set>
        WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <update id="setSiteState">
        UPDATE site SET state = #{state}
        WHERE site_id = #{siteId} AND deleted = 0
    </update>

    <select id="getAllCreatedSites" resultType="String">
        SELECT site_id FROM site WHERE state = #{state} AND deleted = 0 AND system = 0
    </select>

    <select id="getSiteState" resultType="java.lang.String">
        SELECT s.state
        FROM site s
        WHERE s.site_id = #{siteId} AND s.deleted = 0
    </select>

    <select id="getPublishedRepoCreated" resultType="int">
        SELECT s.published_repo_created
        FROM site s
        WHERE s.site_id = #{siteId} AND s.deleted = 0
    </select>

    <select id="getPublishingStatus" resultMap="PublishStatusMap">
        SELECT publishing_enabled, publishing_status, publishing_lock_owner,
               DATE_ADD(publishing_lock_heartbeat, INTERVAL #{ttl} MINUTE) as publishing_lock_heartbeat
        FROM site WHERE site_id = #{siteId} AND deleted = 0 LIMIT 0, 1
    </select>

    <update id="clearPublishingLockForSite">
        UPDATE site SET publishing_lock_owner = NULL, publishing_lock_heartbeat = NULL
        WHERE site_id = #{siteId} AND deleted = 0
    </update>
</mapper>