.seethrough {
   padding: 0;
   border: 1px solid rgba(0,0,0,0.5);
   background: rgba(0,0,0,0.6);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3)
}

#cstudio-template-editor-container-modal {
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: 1000000;   
	background-color: rgba(200,200,200,0.6); 
}

#cstudio-template-editor-container {
    height: 80%;
    margin: auto;
    min-height: 80%;
    width: 90%;
}

#editor-container {
	margin: 35px 30px 0 25px;
	height: 85%;
}

#editor-container textarea {
	height: 100%;
	resize: none;
	width: 100%;
	font-size: 12px;
    font-family: monospace, sans-serif;
}

#template-editor-button-container {
	position: relative;
	top: 7%;
	right: 30px;
}

.cstudio-template-editor-button {
    background-image: url("/proxy/authoring/themes/cstudioTheme/images/overlay-green-button.png");
    bottom: 0;
    color: white;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 120px;
}

.CodeMirror-scroll.cm-s-default > div { text-align: left; }
.CodeMirror-lines { color: #111; }  /* default text color */
