<content-type name="/page/article" is-wcm-type="true">
	<label>Page - Article</label>
	<form>/page/article</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>true</content-as-folder>
	<previewable>true</previewable>
	<noThumbnail>false</noThumbnail>
	<image-thumbnail>page-article.png</image-thumbnail>
	<paths>
		<includes>
			<pattern>^/site/website/articles/.*</pattern>
		</includes>
	</paths>
</content-type>
